Repository Ingenimax/agent-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers, @Ingenimax/engineering, @Ingenimax/docs-team, @Ingenimax/security-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
*       @Ingenimax/maintainers

# Go source files
*.go    @Ingenimax/go-reviewers

# CI/CD and GitHub Actions
.github/workflows/    @Ingenimax/engineering

# Documentation
/docs/               @Ingenimax/docs-team
*.md                 @Ingenimax/docs-team

# Security-related files
SECURITY.md          @Ingenimax/security-team

fix(prompts): correct the template path containment check
  pkg/prompts/template.go
  pkg/prompts/template_test.go
Owners: @Ingenimax/go-reviewers

fix(task): make InMemoryTaskService constructible
  pkg/task/service/memory.go
  pkg/task/service/memory_test.go
Owners: @Ingenimax/go-reviewers

fix(guardrails): make the package usable, and stop it redacting everything
  docs/guardrails.md
  pkg/guardrails/content_filter.go
  pkg/guardrails/docsample/sample_test.go
  pkg/guardrails/guardrails.go
  pkg/guardrails/guardrails_test.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

fix(agent): apply WithTimeout, and make WithAgents idempotent
  pkg/agent/agent.go
  pkg/agent/run_preamble.go
  pkg/agent/run_preamble_test.go
  pkg/agent/streaming.go
Owners: @Ingenimax/go-reviewers

fix(vllm): close the previous response body when a request is retried
  pkg/llm/vllm/client.go
Owners: @Ingenimax/go-reviewers

fix(memory): keep Redis archive keys out of conversation listings
  pkg/memory/redis_archive_test.go
  pkg/memory/redis_memory.go
Owners: @Ingenimax/go-reviewers

docs: document this branch's changes, and correct samples that cannot compile
  docs/memory.md
  docs/multitenancy.md
  docs/tools.md
  docs/upgrading.md
  pkg/agent/agent.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

feat(eval): add agent evaluation framework
  Makefile
  README.md
  cmd/agent-cli/README.md
  cmd/agent-cli/eval.go
  cmd/agent-cli/eval_test.go
  cmd/agent-cli/main.go
  docs/evaluation-framework-plan.md
  docs/evaluation.md
  examples/evaluation/dataset.json
  examples/evaluation/main.go
  pkg/eval/dataset.go
  pkg/eval/dataset_test.go
  pkg/eval/fuzz_test.go
  pkg/eval/grade.go
  pkg/eval/graders.go
  pkg/eval/graders_test.go
  pkg/eval/recorder.go
  pkg/eval/recorder_test.go
  pkg/eval/report.go
  pkg/eval/runner.go
  pkg/eval/runner_test.go
  pkg/eval/sdk/target.go
  pkg/eval/sdk/target_test.go
  pkg/eval/types.go
Owners: @Ingenimax/maintainers, @Ingenimax/docs-team, @Ingenimax/go-reviewers

feat(eval): add model judge
  README.md
  cmd/agent-cli/README.md
  cmd/agent-cli/eval.go
  cmd/agent-cli/eval_test.go
  docs/evaluation-framework-plan.md
  docs/evaluation.md
  examples/evaluation/judge-dataset.json
  pkg/eval/model_judge.go
  pkg/eval/model_judge_test.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers, @Ingenimax/maintainers

test(eval): improve patch coverage
  cmd/agent-cli/eval_test.go
  pkg/eval/dataset_test.go
  pkg/eval/report_test.go
  pkg/eval/sdk/target_test.go
Owners: @Ingenimax/go-reviewers

fix(deps): update grpc to v1.83.2
  go.mod
  go.sum
Owners: @Ingenimax/maintainers

test(eval): use fictional example data
  docs/evaluation-framework-plan.md
  examples/evaluation/dataset.json
  examples/evaluation/main.go
  pkg/eval/graders_test.go
  pkg/eval/model_judge_test.go
  pkg/eval/recorder_test.go
  pkg/eval/sdk/target_test.go
Owners: @Ingenimax/docs-team, @Ingenimax/maintainers, @Ingenimax/go-reviewers

docs(eval): remove implementation plan
  docs/evaluation-framework-plan.md
Owners: @Ingenimax/docs-team

feat(eval): add agent evaluation framework (#362)
  Makefile
  README.md
  cmd/agent-cli/README.md
  cmd/agent-cli/eval.go
  cmd/agent-cli/eval_test.go
  cmd/agent-cli/main.go
  docs/evaluation.md
  examples/evaluation/dataset.json
  examples/evaluation/judge-dataset.json
  examples/evaluation/main.go
  pkg/eval/dataset.go
  pkg/eval/dataset_test.go
  pkg/eval/fuzz_test.go
  pkg/eval/grade.go
  pkg/eval/graders.go
  pkg/eval/graders_test.go
  pkg/eval/model_judge.go
  pkg/eval/model_judge_test.go
  pkg/eval/recorder.go
  pkg/eval/recorder_test.go
  pkg/eval/report.go
  pkg/eval/report_test.go
  pkg/eval/runner.go
  pkg/eval/runner_test.go
  pkg/eval/sdk/target.go
  pkg/eval/sdk/target_test.go
  pkg/eval/types.go
Owners: @Ingenimax/maintainers, @Ingenimax/docs-team, @Ingenimax/go-reviewers

feat: add Jev System One decisions and routing
  README.md
  docs/capabilities.md
  examples/orchestration/jev_router/README.md
  examples/orchestration/jev_router/main.go
  pkg/jev/client.go
  pkg/jev/client_test.go
  pkg/jev/types.go
  pkg/orchestration/jev_router.go
  pkg/orchestration/jev_router_test.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

test: add live Jev integration coverage
  pkg/jev/client_integration_test.go
Owners: @Ingenimax/go-reviewers

fix(jev): bound server-controlled backoff and tighten answer validation
  README.md
  docs/capabilities.md
  env.example
  examples/orchestration/jev_router/main.go
  pkg/jev/client.go
  pkg/jev/client_test.go
  pkg/orchestration/jev_router.go
  pkg/orchestration/jev_router_test.go
Owners: @Ingenimax/docs-team, @Ingenimax/maintainers, @Ingenimax/go-reviewers

docs: replace four non-existent agent middleware APIs
  docs/agent.md
  internal/docexamples/agent_md.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

fix(openai): aggregate streaming token usage across the tool loop
  pkg/agent/streaming.go
  pkg/agent/streaming_usage_test.go
  pkg/agent/usage_tracker.go
  pkg/llm/openai/streaming.go
  pkg/llm/openai/streaming_usage_test.go
  pkg/llm/openai/usage_accumulator.go
Owners: @Ingenimax/go-reviewers

fix(microservice): make the UI memory read path reachable and honest
  pkg/microservice/ui_memory_boundary_test.go
  pkg/microservice/ui_server.go
  pkg/microservice/ui_server_fixes_test.go
Owners: @Ingenimax/go-reviewers

feat: make max output tokens configurable across every provider
  docs/environment_variables.md
  docs/llm-yaml-configuration.md
  pkg/agent/config.go
  pkg/agent/max_tokens_config_test.go
  pkg/interfaces/llm.go
  pkg/interfaces/max_tokens_test.go
  pkg/llm/anthropic/client.go
  pkg/llm/anthropic/max_tokens.go
  pkg/llm/anthropic/max_tokens_test.go
  pkg/llm/azureopenai/client.go
  pkg/llm/azureopenai/max_tokens.go
  pkg/llm/azureopenai/streaming.go
  pkg/llm/deepseek/client.go
  pkg/llm/gemini/client.go
  pkg/llm/gemini/streaming.go
  pkg/llm/ollama/client.go
  pkg/llm/openai/client.go
  pkg/llm/openai/max_tokens.go
  pkg/llm/openai/max_tokens_wire_test.go
  pkg/llm/openai/streaming.go
  pkg/llm/types.go
  pkg/llm/vllm/client.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers
