Repository Ingenimax/agent-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers, @Ingenimax/engineering, @Ingenimax/docs-team, @Ingenimax/security-team

llm/{openai,azureopenai}: drop the 40-char tool_call_id length guard that loses tool results (#313)
  pkg/llm/azureopenai/streaming.go
  pkg/llm/openai/streaming.go
Owners: @Ingenimax/go-reviewers

Fix Gemini tool declarations dropping array `items` end-to-end (#318) (#319)
  pkg/llm/gemini/client.go
  pkg/llm/gemini/streaming.go
  pkg/llm/gemini/tools.go
  pkg/llm/gemini/tools_test.go
  pkg/mcp/lazy.go
  pkg/mcp/tool.go
  pkg/mcp/tool_test.go
Owners: @Ingenimax/go-reviewers

fix(agent): record tool calls on actual invocation, not availability
  pkg/agent/agent.go
  pkg/agent/agent_detailed_test.go
  pkg/agent/streaming.go
  pkg/agent/tracking_tool.go
Owners: @Ingenimax/go-reviewers

fix(tracing): emit TraceGeneration for non-streaming GenerateWithTools
  pkg/tracing/traced_llm.go
Owners: @Ingenimax/go-reviewers

fix(ollama): use native /api/chat tool calling instead of prompt stuffing
  pkg/llm/ollama/client.go
  pkg/llm/ollama/client_test.go
Owners: @Ingenimax/go-reviewers

fix(openai): aggregate token usage across tool-loop iterations
  pkg/llm/openai/client.go
  pkg/llm/openai/usage_accumulator.go
  pkg/llm/openai/usage_accumulator_test.go
Owners: @Ingenimax/go-reviewers

fix(agent): nil-guard trackingTool and tighten test fixture
  pkg/agent/agent_detailed_test.go
  pkg/agent/tracking_tool.go
Owners: @Ingenimax/go-reviewers

fix(tracing): stamp error metadata on TraceGeneration when GenerateWithTools fails
  pkg/tracing/traced_llm.go
Owners: @Ingenimax/go-reviewers

fix(ollama): persist tool exchanges to memory and harden tool loop
  pkg/llm/ollama/client.go
  pkg/llm/ollama/client_test.go
Owners: @Ingenimax/go-reviewers

fix(ollama): synthesize unique ToolCallIDs and pair them across messages
  pkg/llm/ollama/client.go
  pkg/llm/ollama/client_test.go
Owners: @Ingenimax/go-reviewers

fix(agent): record tool calls on actual invocation, not availability (#323)
  pkg/agent/agent.go
  pkg/agent/agent_detailed_test.go
  pkg/agent/streaming.go
  pkg/agent/tracking_tool.go
Owners: @Ingenimax/go-reviewers

fix(tracing): emit TraceGeneration for non-streaming GenerateWithTools (#324)
  pkg/tracing/traced_llm.go
Owners: @Ingenimax/go-reviewers

fix(openai): aggregate token usage across tool-loop iterations (#326)
  pkg/llm/openai/client.go
  pkg/llm/openai/usage_accumulator.go
  pkg/llm/openai/usage_accumulator_test.go
Owners: @Ingenimax/go-reviewers

fix(ollama): use native /api/chat tool calling instead of prompt stuffing (#325)
  pkg/llm/ollama/client.go
  pkg/llm/ollama/client_test.go
Owners: @Ingenimax/go-reviewers

docs: Add FAQ section for common questions
  README.md
Owners: @Ingenimax/docs-team

Use OpenAI responses for reasoning tool calls
  pkg/llm/openai/client.go
  pkg/llm/openai/client_test.go
  pkg/llm/openai/responses.go
Owners: @Ingenimax/go-reviewers

Add opt-in OpenAI responses file inputs
  pkg/interfaces/llm.go
  pkg/llm/openai/client.go
  pkg/llm/openai/client_test.go
  pkg/llm/openai/files.go
  pkg/llm/openai/responses.go
Owners: @Ingenimax/go-reviewers

Validate OpenAI responses options
  pkg/llm/openai/client_test.go
  pkg/llm/openai/responses.go
  pkg/llm/openai/streaming.go
Owners: @Ingenimax/go-reviewers

Update openai with responses api
  pkg/interfaces/llm.go
  pkg/llm/openai/client.go
  pkg/llm/openai/client_test.go
  pkg/llm/openai/files.go
  pkg/llm/openai/responses.go
  pkg/llm/openai/streaming.go
Owners: @Ingenimax/go-reviewers

- Adjusted params config for each provider
  PATCHES.md
  examples/deployment_config/go.mod
  examples/deployment_config/go.sum
  examples/mcp/google-cse-yaml/go.mod
  examples/mcp/google-cse-yaml/go.sum
  examples/mcp/google-cse/go.mod
  examples/mcp/google-cse/go.sum
  examples/token-usage/go.mod
  examples/token-usage/go.sum
  pkg/llm/anthropic/client.go
  pkg/llm/anthropic/thinking_tools_test.go
  pkg/llm/gemini/client.go
  pkg/llm/gemini/streaming.go
Owners: @Ingenimax/docs-team, @Ingenimax/maintainers, @Ingenimax/go-reviewers

Support for custom MCP transport in SDK (#311)
  examples/mcp/custom-transport/main.go
  pkg/mcp/lazy.go
  pkg/mcp/mcp.go
Owners: @Ingenimax/go-reviewers

docs: Add FAQ section for common questions
  README.md
Owners: @Ingenimax/docs-team

- genworkflow relies on json_schema. Added applyResponseFormat (→ text.format) to both paths, matching chat parity exactly (non-stream: loop+final; stream: final-only).
  pkg/llm/openai/client.go
  pkg/llm/openai/responses.go
  pkg/llm/openai/responses_test.go
  pkg/llm/openai/streaming.go
Owners: @Ingenimax/go-reviewers

fix(openai): only send presence/frequency penalty when non-zero
  pkg/llm/openai/client.go
Owners: @Ingenimax/go-reviewers

fix(openai): complete Grok compatibility by guarding top_p, temperature, and parallel_tool_calls
  pkg/llm/openai/client.go
Owners: @Ingenimax/go-reviewers

fix(openai): complete Grok compatibility by guarding top_p, temperature, and parallel_tool_calls
  pkg/llm/openai/client.go
Owners: @Ingenimax/go-reviewers

fix(deps): update vulnerable dependencies to fix security CI failures
  go.mod
  go.sum
Owners: @Ingenimax/maintainers

fix(deps): use google.CredentialsFromJSONWithParams instead of deprecated CredentialsFromJSON
  pkg/llm/anthropic/vertex.go
Owners: @Ingenimax/go-reviewers

fix(deps): migrate Vertex auth to cloud.google.com/go/auth; fix deepseek test nil-check
  go.mod
  pkg/llm/anthropic/vertex.go
  pkg/llm/deepseek/client_test.go
Owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers

Suppress Codecov bot comments on pull requests
  codecov.yml
Owners: @Ingenimax/maintainers

Suppress Codecov bot comments on pull requests (#342)
  codecov.yml
Owners: @Ingenimax/maintainers

feat: add HTTP MCP test agent and update MCP server configuration
  examples/mcp/http-test-agent/README.md
  examples/mcp/http-test-agent/main.go
  pkg/agent/agent.go
  pkg/mcp/README.md
  pkg/mcp/builder.go
  pkg/mcp/builder_test.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

feat: add HTTP MCP test agent and fix Token/HttpTransportMode propagation
  examples/mcp/http-test-agent/main.go
Owners: @Ingenimax/go-reviewers

feat: add HTTP MCP test agent and fix Token/HttpTransportMode propagation (#338)
  examples/mcp/http-test-agent/README.md
  examples/mcp/http-test-agent/main.go
  pkg/agent/agent.go
  pkg/mcp/README.md
  pkg/mcp/builder.go
  pkg/mcp/builder_test.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

fix(gemini): synthesize final answer when tool turn ends with no content
  pkg/llm/gemini/streaming.go
Owners: @Ingenimax/go-reviewers

fix(gemini): preserve thought_signature and add Gemini 3.x model capabilities
  pkg/interfaces/memory.go
  pkg/llm/gemini/client.go
  pkg/llm/gemini/message_history.go
  pkg/llm/gemini/message_history_test.go
  pkg/llm/gemini/streaming.go
  pkg/llm/gemini/types.go
Owners: @Ingenimax/go-reviewers

fix(gemini): correct Gemini 3.x model IDs and capabilities
  pkg/llm/gemini/client.go
  pkg/llm/gemini/types.go
Owners: @Ingenimax/go-reviewers

Update types.go
  pkg/llm/gemini/types.go
Owners: @Ingenimax/go-reviewers

test(gemini): cover Gemini 3.x model capabilities
  pkg/llm/gemini/client_test.go
Owners: @Ingenimax/go-reviewers

Create streaming_test.go
  pkg/llm/gemini/streaming_test.go
Owners: @Ingenimax/go-reviewers

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
*       @Ingenimax/maintainers

# Go source files
*.go    @Ingenimax/go-reviewers

# CI/CD and GitHub Actions
.github/workflows/    @Ingenimax/engineering

# Documentation
/docs/               @Ingenimax/docs-team
*.md                 @Ingenimax/docs-team

# Security-related files
SECURITY.md          @Ingenimax/security-team
