Repository Ingenimax/agent-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers, @Ingenimax/engineering, @Ingenimax/docs-team, @Ingenimax/security-team

chore: update go.mod and go.sum with new indirect dependencies
  examples/deployment_config/go.mod
  examples/deployment_config/go.sum
Owners: @Ingenimax/maintainers

fix: update default StarOps Config Service host port from 8091 to 8080
  pkg/config/config.go
Owners: @Ingenimax/go-reviewers

fix: use highest semantic version tag instead of most recent commit date
  .github/workflows/release.yml
Owners: @Ingenimax/engineering

fix end of files
  .gitignore
  pkg/microservice/ui-nextjs/out/_next/static/UioFai3GsWAtK3cvV_jsw/_buildManifest.js
  pkg/microservice/ui-nextjs/out/_next/static/UioFai3GsWAtK3cvV_jsw/_clientMiddlewareManifest.json
  pkg/microservice/ui-nextjs/out/_next/static/UioFai3GsWAtK3cvV_jsw/_ssgManifest.js
  pkg/microservice/ui-nextjs/out/_next/static/chunks/1fdee2617801e848.css
Owners: @Ingenimax/maintainers

Fix flaky test in pkg/mcp/resources_test.go
  pkg/mcp/resources_test.go
Owners: @Ingenimax/go-reviewers

Add MCP server config files to .gitignore
  .gitignore
Owners: @Ingenimax/maintainers

remove unused code
  pkg/agent/agent.go
Owners: @Ingenimax/go-reviewers

Add memory setup with config file
  pkg/agent/agent.go
  pkg/agent/config.go
  pkg/agent/env.go
  pkg/memory/factory.go
Owners: @Ingenimax/go-reviewers

Adjustment
  pkg/agent/agent.go
  pkg/agent/tool_factory.go
Owners: @Ingenimax/go-reviewers

add example
  examples/simple_yaml_agent/agents.yaml
  examples/simple_yaml_agent/main.go
Owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers

Adjustment
  pkg/agent/env.go
Owners: @Ingenimax/go-reviewers

Update documentation
  README.md
  docs/agent.md
Owners: @Ingenimax/docs-team

extend yaml to llm setup
  docs/llm-yaml-configuration.md
  examples/agent_config_yaml/agents.yaml
  examples/agent_config_yaml/main.go
  pkg/agent/agent.go
  pkg/agent/config.go
  pkg/agent/llm_factory.go
  pkg/llm/anthropic/client.go
  pkg/llm/anthropic/vertex.go
Owners: @Ingenimax/docs-team, @Ingenimax/maintainers, @Ingenimax/go-reviewers

feat: add comprehensive YAML configuration support for agents
  pkg/agent/agent.go
  pkg/agent/config.go
  pkg/agent/tool_factory.go
  pkg/executionplan/generator.go
Owners: @Ingenimax/go-reviewers

feat: add comprehensive YAML configuration support for agents (#238)
  README.md
  docs/agent.md
  docs/llm-yaml-configuration.md
  examples/agent_config_yaml/agents.yaml
  examples/agent_config_yaml/main.go
  examples/simple_yaml_agent/agents.yaml
  examples/simple_yaml_agent/main.go
  pkg/agent/agent.go
  pkg/agent/config.go
  pkg/agent/env.go
  pkg/agent/llm_factory.go
  pkg/agent/tool_factory.go
  pkg/executionplan/generator.go
  pkg/llm/anthropic/client.go
  pkg/llm/anthropic/vertex.go
  pkg/memory/factory.go
Owners: @Ingenimax/docs-team, @Ingenimax/maintainers, @Ingenimax/go-reviewers

increase timeout and check of parent deadlines
  pkg/tools/agent_tool.go
Owners: @Ingenimax/go-reviewers

increase timeout and check of parent deadlines (#242)
  pkg/tools/agent_tool.go
Owners: @Ingenimax/go-reviewers

Fix: Increase timeouts to support long-running agent operations
  pkg/grpc/client/remote_agent.go
  pkg/microservice/http_server.go
Owners: @Ingenimax/go-reviewers

remove comment
  pkg/grpc/client/remote_agent.go
Owners: @Ingenimax/go-reviewers

Fix: Increase timeouts to support long-running agent operations (#243)
  pkg/grpc/client/remote_agent.go
  pkg/microservice/http_server.go
Owners: @Ingenimax/go-reviewers

increate timeout for ui_server
  pkg/microservice/ui_server.go
Owners: @Ingenimax/go-reviewers

increate timeout for ui_server (#244)
  pkg/microservice/ui_server.go
Owners: @Ingenimax/go-reviewers

Replace log.Printf with structured logger in UITraceCollector
  pkg/microservice/http_server.go
  pkg/microservice/ui_server.go
  pkg/microservice/ui_trace_collector.go
  pkg/microservice/ui_trace_collector_test.go
Owners: @Ingenimax/go-reviewers

Replace log.Printf with structured logger in UITraceCollector (#245)
  pkg/microservice/http_server.go
  pkg/microservice/ui_server.go
  pkg/microservice/ui_trace_collector.go
  pkg/microservice/ui_trace_collector_test.go
Owners: @Ingenimax/go-reviewers

Reduce UITraceCollector logging verbosity
  pkg/microservice/ui_trace_collector.go
Owners: @Ingenimax/go-reviewers

fix: update default StarOps Config Service host port from 8091 to 8080 (#241)
  pkg/config/config.go
Owners: @Ingenimax/go-reviewers

chore: update go.mod and go.sum with new indirect dependencies (#239)
  examples/deployment_config/go.mod
  examples/deployment_config/go.sum
Owners: @Ingenimax/maintainers

Add unified configuration loader with remote and local fallback support
  docs/unified-config-loader.md
  pkg/agent/agent.go
  pkg/agent/config.go
  pkg/agent/factory.go
  pkg/agentconfig/api.go
  pkg/agentconfig/cache.go
  pkg/agentconfig/client.go
  pkg/agentconfig/examples.go
  pkg/agentconfig/models.go
  pkg/agentconfig/unified_loader.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

remove unused code
  pkg/agent/agent.go
Owners: @Ingenimax/go-reviewers

add ignore comment
  pkg/agentconfig/unified_loader.go
Owners: @Ingenimax/go-reviewers

remove unused function
  pkg/agentconfig/unified_loader.go
Owners: @Ingenimax/go-reviewers

Add unified configuration loader with remote and local fallback support (#247)
  docs/unified-config-loader.md
  pkg/agent/agent.go
  pkg/agent/config.go
  pkg/agent/factory.go
  pkg/agentconfig/api.go
  pkg/agentconfig/cache.go
  pkg/agentconfig/client.go
  pkg/agentconfig/examples.go
  pkg/agentconfig/models.go
  pkg/agentconfig/unified_loader.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

fix: add system message support to OpenAI streaming and fix YAML config loading
  pkg/agent/agent.go
  pkg/agentconfig/unified_loader.go
  pkg/llm/azureopenai/streaming.go
  pkg/llm/openai/streaming.go
Owners: @Ingenimax/go-reviewers

add merge feature
  pkg/agentconfig/MERGE_IMPLEMENTATION.md
  pkg/agentconfig/MERGE_USAGE.md
  pkg/agentconfig/merge_test.go
  pkg/agentconfig/unified_loader.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

fix lint
  pkg/agentconfig/unified_loader.go
Owners: @Ingenimax/go-reviewers

adjustments
  pkg/agentconfig/loader.go
  pkg/agentconfig/models.go
Owners: @Ingenimax/go-reviewers

Fix documentation
  docs/config-merge.md
  pkg/agentconfig/MERGE_IMPLEMENTATION.md
  pkg/agentconfig/MERGE_USAGE.md
Owners: @Ingenimax/docs-team

fix: add system message support to OpenAI streaming and fix YAML config loading (#248)
  docs/config-merge.md
  pkg/agent/agent.go
  pkg/agentconfig/loader.go
  pkg/agentconfig/merge_test.go
  pkg/agentconfig/models.go
  pkg/agentconfig/unified_loader.go
  pkg/llm/azureopenai/streaming.go
  pkg/llm/openai/streaming.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

fix: update STAROPS_CONFIG_SERVICE_HOST to correct service URL in README and config loading
  examples/deployment_config/README.md
  pkg/config/config.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

add vertexai base64 decode fallback
  pkg/llm/anthropic/vertex.go
Owners: @Ingenimax/go-reviewers

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
*       @Ingenimax/maintainers

# Go source files
*.go    @Ingenimax/go-reviewers

# CI/CD and GitHub Actions
.github/workflows/    @Ingenimax/engineering

# Documentation
/docs/               @Ingenimax/docs-team
*.md                 @Ingenimax/docs-team

# Security-related files
SECURITY.md          @Ingenimax/security-team
