Repository Ingenimax/agent-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers, @Ingenimax/engineering, @Ingenimax/docs-team, @Ingenimax/security-team

Add redis memory summarization feature
  examples/memory/main.go
  go.mod
  go.sum
  pkg/memory/redis_memory.go
  pkg/memory/redis_memory_test.go
Owners: @Ingenimax/go-reviewers, @Ingenimax/maintainers

Add subagent feature
  docs/subagents.md
  examples/subagents/DEPTH_DIAGRAM.md
  examples/subagents/DEPTH_EXAMPLE.md
  examples/subagents/README.md
  examples/subagents/TRACING_ENHANCEMENTS.md
  examples/subagents/depth_example.go
  examples/subagents/main.go
  pkg/agent/agent.go
  pkg/agent/context.go
  pkg/agent/integration_test.go
  pkg/agent/subagent_test.go
  pkg/agent/validation.go
  pkg/tools/agent_tool.go
  pkg/tools/agent_tool_test.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

implement microservices functionality that allows agents to run as independent gRPC services and communicate seamlessly with local agents
  docs/microservices.md
  examples/microservices/README.md
  examples/microservices/basic_microservice/main.go
  examples/microservices/debug_test/main.go
  examples/microservices/mixed_agents/main.go
  examples/microservices/remote_client/main.go
  examples/microservices/service_manager/main.go
  examples/microservices/simple_mixed/main.go
  examples/microservices/test_basic/main.go
  go.mod
  pkg/agent/agent.go
  pkg/agent/validation.go
  pkg/grpc/client/remote_agent.go
  pkg/grpc/pb/agent.pb.go
  pkg/grpc/pb/agent_grpc.pb.go
  pkg/grpc/proto/agent.proto
  pkg/grpc/server/agent_server.go
  pkg/microservice/factory.go
  scripts/generate-proto.sh
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers, @Ingenimax/maintainers

adjustment
  examples/microservices/basic_microservice/main.go
  examples/microservices/debug_test/main.go
  examples/microservices/mixed_agents/main.go
  examples/microservices/remote_client/main.go
  examples/microservices/service_manager/main.go
  examples/microservices/simple_mixed/main.go
  examples/microservices/test_basic/main.go
Owners: @Ingenimax/go-reviewers

fix lint
  TODO.md
  examples/microservices/debug_test/main.go
  examples/microservices/mixed_agents/main.go
  examples/microservices/service_manager/main.go
  examples/microservices/simple_mixed/main.go
  examples/microservices/test_basic/main.go
  examples/subagents/depth_example.go
  examples/subagents/main.go
  pkg/agent/context.go
  pkg/grpc/client/remote_agent.go
  pkg/microservice/factory.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

adjustment
  TODO.md
Owners: @Ingenimax/docs-team

adjustment
  examples/microservices/debug_test/main.go
  examples/microservices/simple_mixed/main.go
  examples/microservices/test_basic/main.go
  pkg/grpc/pb/agent.pb.go
Owners: @Ingenimax/go-reviewers

fix test
  pkg/tools/agent_tool.go
  pkg/tools/agent_tool_test.go
Owners: @Ingenimax/go-reviewers

adjust examples and fix lint issues
  examples/microservices/basic_microservice/main.go
  examples/subagents/README.md
  examples/subagents/depth_validation/main.go
  examples/subagents/main.go
  pkg/grpc/client/remote_agent.go
  pkg/grpc/server/agent_server.go
  pkg/tools/agent_tool.go
  pkg/tools/agent_tool_test.go
Owners: @Ingenimax/go-reviewers, @Ingenimax/docs-team

add conversationID to remove agent call
  pkg/grpc/client/remote_agent.go
  pkg/grpc/proto/agent.pb.go
  pkg/grpc/proto/agent.proto
  pkg/grpc/proto/agent_grpc.pb.go
  pkg/grpc/server/agent_server.go
Owners: @Ingenimax/go-reviewers, @Ingenimax/maintainers

fix lint errors
  pkg/grpc/pb/agent.pb.go
  pkg/grpc/proto/agent.pb.go
Owners: @Ingenimax/go-reviewers

fix grpc health endpoint creation
  go.mod
  go.sum
  pkg/grpc/server/agent_server.go
Owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers

fix
  go.sum
Owners: @Ingenimax/maintainers

remote agent call with auth
  examples/microservices/remote_timeout/main.go
  pkg/agent/agent.go
  pkg/grpc/client/remote_agent.go
  pkg/grpc/server/agent_server.go
  pkg/tools/agent_tool.go
Owners: @Ingenimax/go-reviewers

fix lint issue
  examples/microservices/remote_timeout/main.go
Owners: @Ingenimax/go-reviewers

Add tool memory storage to maintain context across agent interactions
  pkg/agent/agent.go
  pkg/agent/tool_memory_test.go
  pkg/interfaces/llm.go
  pkg/interfaces/memory.go
  pkg/llm/anthropic/client.go
  pkg/llm/openai/client.go
  pkg/llm/vertex/client.go
Owners: @Ingenimax/go-reviewers

fix lint
  pkg/agent/agent.go
Owners: @Ingenimax/go-reviewers

simplify memory tool
  pkg/agent/agent.go
  pkg/agent/tool_memory_test.go
  pkg/interfaces/llm.go
  pkg/interfaces/memory.go
  pkg/llm/anthropic/client.go
  pkg/llm/openai/client.go
  pkg/llm/vertex/client.go
Owners: @Ingenimax/go-reviewers

fix: improve role format in memory
  pkg/agent/agent.go
  pkg/agent/format_test.go
Owners: @Ingenimax/go-reviewers

agent loop memory management
  docs/loop_detection.md
  pkg/agent/agent.go
  pkg/llm/anthropic/client.go
  pkg/llm/openai/client.go
  pkg/llm/vertex/client.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

fix: add tools loop detection
  docs/loop_detection.md
  pkg/llm/anthropic/client.go
  pkg/llm/openai/client.go
  pkg/llm/vertex/client.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

fix race conditions
  pkg/llm/openai/client.go
Owners: @Ingenimax/go-reviewers

use new mark3labs/mcp-go lib to support http streamable MCP servers
  cmd/examples/mcp/server-http/main.go
  cmd/examples/mcp/server-stdio/main.go
  go.mod
  go.sum
  pkg/mcp/README.md
  pkg/mcp/mcp.go
Owners: @Ingenimax/go-reviewers, @Ingenimax/maintainers, @Ingenimax/docs-team

fix lint issue
  pkg/mcp/mcp.go
Owners: @Ingenimax/go-reviewers

refactor: update Vertex AI client implementation and dependencies
  go.mod
  go.sum
  pkg/llm/vertex/client.go
Owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers

fix: support multiple tools in vertexai - they need to be functions declarations instead of specific tools.
  pkg/llm/vertex/client.go
Owners: @Ingenimax/go-reviewers

fix: messages flow
  pkg/llm/vertex/client.go
Owners: @Ingenimax/go-reviewers

fix: don't ask for final response when it's already there
  pkg/llm/vertex/client.go
Owners: @Ingenimax/go-reviewers

tests: more comprehensive tests
  .gitignore
  examples/llm/vertex/main.go
  go.mod
  go.sum
  pkg/interfaces/llm.go
  pkg/llm/vertex/client_test.go
Owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers

fix: self code review
  pkg/llm/vertex/client.go
Owners: @Ingenimax/go-reviewers

add require plan approval = false
  examples/http-streaming/main.go
Owners: @Ingenimax/go-reviewers

remove generated tests
  test_grpc_client.go
  test_health_check.go
  test_microservice.go
  test_simple_grpc.go
  test_tcp_connection.go
Owners: @Ingenimax/go-reviewers

adjust lint / build issues
  examples/microservices/streaming_agent/main.go
  pkg/grpc/pb/agent.pb.go
  pkg/grpc/proto/agent.pb.go
  pkg/llm/anthropic/sse.go
  pkg/llm/anthropic/streaming.go
  pkg/llm/openai/client.go
  pkg/llm/openai/client_test.go
  pkg/microservice/factory.go
Owners: @Ingenimax/go-reviewers

fix linter issues
  examples/microservices/streaming_agent/main.go
  pkg/grpc/client/remote_agent.go
  pkg/llm/anthropic/sse.go
  pkg/llm/anthropic/streaming.go
  pkg/microservice/factory.go
  pkg/microservice/http_server.go
Owners: @Ingenimax/go-reviewers

fix linter issues
  pkg/microservice/http_server.go
Owners: @Ingenimax/go-reviewers

feat: add GEMINI API support
  README.md
  docs/gemini-api.md
  examples/advanced_agent_streaming/README.md
  examples/advanced_agent_streaming/main.go
  examples/llm/gemini/README.md
  examples/llm/gemini/agent_integration/main.go
  examples/llm/gemini/main.go
  examples/llm/gemini/structured_output/main.go
  examples/microservices/basic_microservice/main.go
  examples/microservices/mixed_agents/main.go
  examples/microservices/shared/llm.go
  examples/microservices/simple_mixed/main.go
  examples/microservices/streaming_agent/main.go
  examples/streaming/main.go
  go.mod
  go.sum
  pkg/llm/gemini/client.go
  pkg/llm/gemini/client_test.go
  pkg/llm/gemini/options.go
  pkg/llm/gemini/streaming.go
  pkg/llm/gemini/types.go
  pkg/tracing/otel_langfuse.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers, @Ingenimax/maintainers

adjustments
  docs/gemini-api.md
  examples/llm/gemini/structured_output/main.go
  pkg/llm/gemini/client.go
  pkg/llm/gemini/streaming.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

remove duplicated example
  examples/llm/gemini/agent_integration/main.go
Owners: @Ingenimax/go-reviewers

add run stream with auth + adjust tool error handling
  docs/streaming-overview.md
  pkg/agent/agent.go
  pkg/agent/streaming.go
  pkg/grpc/client/remote_agent.go
  pkg/grpc/client/remote_agent_test.go
  pkg/grpc/server/agent_server.go
  pkg/llm/anthropic/client.go
  pkg/llm/anthropic/streaming.go
  pkg/llm/gemini/client.go
  pkg/llm/gemini/client_test.go
  pkg/llm/gemini/streaming.go
  pkg/llm/openai/client.go
  pkg/llm/openai/streaming.go
  pkg/llm/vertex/client.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

adjustment in tool calling
  pkg/llm/gemini/streaming.go
Owners: @Ingenimax/go-reviewers

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
*       @Ingenimax/maintainers

# Go source files
*.go    @Ingenimax/go-reviewers

# CI/CD and GitHub Actions
.github/workflows/    @Ingenimax/engineering

# Documentation
/docs/               @Ingenimax/docs-team
*.md                 @Ingenimax/docs-team

# Security-related files
SECURITY.md          @Ingenimax/security-team
