Repository Ingenimax/agent-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers, @Ingenimax/engineering, @Ingenimax/docs-team, @Ingenimax/security-team

add vertexai base64 decode fallback (#251)
  pkg/llm/anthropic/vertex.go
Owners: @Ingenimax/go-reviewers

Fix expansion and add examples for google search MCP tool
  examples/mcp/google-cse-yaml/.env.example
  examples/mcp/google-cse-yaml/.gitignore
  examples/mcp/google-cse-yaml/README.md
  examples/mcp/google-cse-yaml/agent.yaml
  examples/mcp/google-cse-yaml/go.mod
  examples/mcp/google-cse-yaml/go.sum
  examples/mcp/google-cse-yaml/main.go
  examples/mcp/google-cse/.env.example
  examples/mcp/google-cse/.gitignore
  examples/mcp/google-cse/README.md
  examples/mcp/google-cse/go.mod
  examples/mcp/google-cse/go.sum
  examples/mcp/google-cse/main.go
  pkg/agent/config.go
  pkg/mcp/lazy.go
  pkg/mcp/mcp.go
Owners: @Ingenimax/maintainers, @Ingenimax/docs-team, @Ingenimax/go-reviewers

Fix mcp config expansion (#253)
  examples/mcp/google-cse-yaml/.env.example
  examples/mcp/google-cse-yaml/.gitignore
  examples/mcp/google-cse-yaml/README.md
  examples/mcp/google-cse-yaml/agent.yaml
  examples/mcp/google-cse-yaml/go.mod
  examples/mcp/google-cse-yaml/go.sum
  examples/mcp/google-cse-yaml/main.go
  examples/mcp/google-cse/.env.example
  examples/mcp/google-cse/.gitignore
  examples/mcp/google-cse/README.md
  examples/mcp/google-cse/go.mod
  examples/mcp/google-cse/go.sum
  examples/mcp/google-cse/main.go
  pkg/agent/config.go
  pkg/mcp/lazy.go
  pkg/mcp/mcp.go
Owners: @Ingenimax/maintainers, @Ingenimax/docs-team, @Ingenimax/go-reviewers

Fix expansion and add examples for google search MCP tool
  pkg/agent/mcp_config.go
Owners: @Ingenimax/go-reviewers

fix sec issue
  pkg/agent/mcp_config.go
Owners: @Ingenimax/go-reviewers

Fix vul check
  go.mod
Owners: @Ingenimax/maintainers

Fix vul check
  go.mod
  pkg/mcp/mcp.go
Owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers

feat: add parallel tool execution for improved performance
  pkg/llm/anthropic/client.go
Owners: @Ingenimax/go-reviewers

fix: ensure max_tokens > budget_tokens when reasoning is enabled
  pkg/llm/anthropic/client.go
Owners: @Ingenimax/go-reviewers

add ignore comment
  pkg/mcp/mcp.go
Owners: @Ingenimax/go-reviewers

Fix expansion (#254)
  pkg/agent/mcp_config.go
  pkg/mcp/mcp.go
Owners: @Ingenimax/go-reviewers

Update README.md with AgentGoGo information
  README.md
Owners: @Ingenimax/docs-team

feat(embedding): add Gemini/Vertex AI embedding support
  pkg/embedding/README.md
  pkg/embedding/gemini.go
  pkg/embedding/gemini_test.go
  pkg/embedding/openai.go
  pkg/embedding/openai_test.go
  pkg/embedding/types.go
  pkg/embedding/types_test.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

Handle remote agent connection failure
  pkg/agent/agent.go
Owners: @Ingenimax/go-reviewers

Handle remote agent connection failure (#259)
  pkg/agent/agent.go
Owners: @Ingenimax/go-reviewers

refactor: replace fmt.Printf with logger calls in agent.go
  pkg/agent/agent.go
Owners: @Ingenimax/go-reviewers

refactor: replace fmt.Printf with logger calls in streaming.go
  pkg/agent/streaming.go
Owners: @Ingenimax/go-reviewers

Add DeepSeek LLM provider with full feature support
  README.md
  docs/deepseek-implementation-plan.md
  examples/llm/deepseek/agent/main.go
  examples/llm/deepseek/main.go
  examples/llm/deepseek/reasoning/main.go
  examples/llm/deepseek/tools/main.go
  pkg/agent/llm_factory.go
  pkg/llm/deepseek/README.md
  pkg/llm/deepseek/client.go
  pkg/llm/deepseek/client_test.go
  pkg/llm/deepseek/integration_test.go
  pkg/llm/deepseek/message_history.go
  pkg/llm/deepseek/message_history_test.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

Add streaming support for DeepSeek LLM provider
  docs/deepseek-implementation-plan.md
  examples/llm/deepseek/streaming/main.go
  pkg/llm/deepseek/streaming.go
  pkg/llm/deepseek/streaming_test.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

remove plan
  docs/deepseek-implementation-plan.md
Owners: @Ingenimax/docs-team

Fix build and security issues in DeepSeek implementation
  examples/llm/deepseek/agent/main.go
  examples/llm/deepseek/reasoning/main.go
  examples/llm/deepseek/tools/main.go
  pkg/llm/deepseek/streaming.go
Owners: @Ingenimax/go-reviewers

fix lint
  examples/llm/deepseek/agent/main.go
  pkg/llm/deepseek/client.go
  pkg/llm/deepseek/streaming.go
Owners: @Ingenimax/go-reviewers

feat: add DeepSeek LLM provider with full feature support (#261)
  README.md
  examples/llm/deepseek/agent/main.go
  examples/llm/deepseek/main.go
  examples/llm/deepseek/reasoning/main.go
  examples/llm/deepseek/streaming/main.go
  examples/llm/deepseek/tools/main.go
  pkg/agent/llm_factory.go
  pkg/llm/deepseek/README.md
  pkg/llm/deepseek/client.go
  pkg/llm/deepseek/client_test.go
  pkg/llm/deepseek/integration_test.go
  pkg/llm/deepseek/message_history.go
  pkg/llm/deepseek/message_history_test.go
  pkg/llm/deepseek/streaming.go
  pkg/llm/deepseek/streaming_test.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

feat: add Token field for HTTP authentication in LazyMCP configuration
  pkg/agent/agent.go
  pkg/agent/mcp_config.go
  pkg/mcp/lazy.go
Owners: @Ingenimax/go-reviewers

feat: add Token field for HTTP authentication in LazyMCP configuration (#262)
  pkg/agent/agent.go
  pkg/agent/mcp_config.go
  pkg/mcp/lazy.go
Owners: @Ingenimax/go-reviewers

fix: skip unnecessary final LLM call when model returns without tool calls
  pkg/llm/azureopenai/streaming.go
  pkg/llm/deepseek/streaming.go
  pkg/llm/openai/streaming.go
Owners: @Ingenimax/go-reviewers

feat: add DataStore field to Agent and expose in config endpoint
  pkg/agent/agent.go
  pkg/microservice/ui_server.go
  pkg/microservice/ui_server_fixes_test.go
Owners: @Ingenimax/go-reviewers

fix: add memoryConfig fallback when memory instance is nil
  pkg/microservice/ui_server.go
Owners: @Ingenimax/go-reviewers

docs: update README with Product Hunt badge and Nina MCP setup
  README.md
Owners: @Ingenimax/docs-team

docs: add project website link to README
  README.md
Owners: @Ingenimax/docs-team

fix: append tools in WithTools to preserve sub-agent tools
  pkg/agent/agent.go
Owners: @Ingenimax/go-reviewers

update library - weaviate - vulnerability fix
  go.mod
  go.sum
Owners: @Ingenimax/maintainers

fix: append tools in WithTools to preserve sub-agent tools (#267)
  go.mod
  go.sum
  pkg/agent/agent.go
Owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers

fix expand and add more logs
  pkg/agent/mcp_config.go
  pkg/mcp/lazy.go
  pkg/mcp/mcp.go
Owners: @Ingenimax/go-reviewers

fix expand and add more logs (#268)
  pkg/agent/mcp_config.go
  pkg/mcp/lazy.go
  pkg/mcp/mcp.go
Owners: @Ingenimax/go-reviewers

feat: enhance config service integration and add Vertex AI support
  pkg/agent/agent.go
  pkg/agent/config.go
  pkg/agent/llm_factory.go
  pkg/agent/llm_factory_test.go
  pkg/agent/mcp_config.go
  pkg/agentconfig/cache.go
  pkg/agentconfig/merge_test.go
  pkg/agentconfig/unified_loader.go
  pkg/mcp/lazy.go
  pkg/mcp/mcp.go
Owners: @Ingenimax/go-reviewers

adjustments
  pkg/agent/agent.go
  pkg/agent/config.go
  pkg/agent/llm_factory.go
  pkg/agent/mcp_config.go
Owners: @Ingenimax/go-reviewers

fix gosec
  pkg/agent/llm_factory.go
Owners: @Ingenimax/go-reviewers

feat: enhance config service integration (#269)
  pkg/agent/agent.go
  pkg/agent/config.go
  pkg/agent/llm_factory.go
  pkg/agent/llm_factory_test.go
  pkg/agent/mcp_config.go
  pkg/agentconfig/cache.go
  pkg/agentconfig/merge_test.go
  pkg/agentconfig/unified_loader.go
  pkg/mcp/lazy.go
  pkg/mcp/mcp.go
Owners: @Ingenimax/go-reviewers

Update README.md
  README.md
Owners: @Ingenimax/docs-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
*       @Ingenimax/maintainers

# Go source files
*.go    @Ingenimax/go-reviewers

# CI/CD and GitHub Actions
.github/workflows/    @Ingenimax/engineering

# Documentation
/docs/               @Ingenimax/docs-team
*.md                 @Ingenimax/docs-team

# Security-related files
SECURITY.md          @Ingenimax/security-team
