Repository Ingenimax/agent-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers, @Ingenimax/engineering, @Ingenimax/docs-team, @Ingenimax/security-team

Fix anthropic tool in sse
  pkg/llm/anthropic/sse.go
Owners: @Ingenimax/go-reviewers

fix test
  pkg/llm/anthropic/sse_test.go
Owners: @Ingenimax/go-reviewers

fix lint issues
  pkg/llm/anthropic/sse.go
Owners: @Ingenimax/go-reviewers

Fix streaming order - remote agent
  pkg/agent/agent.go
  pkg/grpc/client/remote_agent.go
  pkg/llm/anthropic/sse.go
  pkg/llm/anthropic/streaming.go
Owners: @Ingenimax/go-reviewers

fix memory management when using streaming
  pkg/llm/anthropic/sse.go
  pkg/llm/anthropic/streaming.go
  pkg/llm/gemini/streaming.go
  pkg/llm/openai/streaming.go
Owners: @Ingenimax/go-reviewers

Fix panic error on stream - nil content
  pkg/grpc/client/remote_agent.go
  pkg/grpc/client/remote_agent_test.go
Owners: @Ingenimax/go-reviewers

Fix Anthropic streaming
  pkg/llm/anthropic/streaming.go
Owners: @Ingenimax/go-reviewers

downgrade mark3labs/mcp-go
  go.mod
  go.sum
Owners: @Ingenimax/maintainers

fix go.mod
  go.sum
Owners: @Ingenimax/maintainers

fix anthropic streaming
  pkg/llm/anthropic/sse.go
  pkg/llm/anthropic/streaming.go
Owners: @Ingenimax/go-reviewers

add support to claude through Vertex AI
  examples/llm/anthropic/main.go
  examples/llm/anthropic/vertex/README.md
  examples/llm/anthropic/vertex/main.go
  pkg/llm/anthropic/client.go
  pkg/llm/anthropic/streaming.go
  pkg/llm/anthropic/vertex.go
Owners: @Ingenimax/go-reviewers, @Ingenimax/docs-team

fix lint
  pkg/llm/anthropic/vertex.go
Owners: @Ingenimax/go-reviewers

feat: create headless agent-cli SDK and migrate to official MCP library
  .env.example
  .gitignore
  Makefile
  README.md
  cmd/agent-cli/README.md
  cmd/agent-cli/examples/aws_api_server.json
  cmd/agent-cli/examples/http_mcp_server.json
  cmd/agent-cli/examples/k8s_kubectl.json
  cmd/agent-cli/examples/multi_mcp_servers.json
  cmd/agent-cli/examples/simple-agents.yaml
  cmd/agent-cli/examples/simple-tasks.yaml
  cmd/agent-cli/examples/simple_mcp_server_updated.json
  cmd/agent-cli/main.go
  cmd/examples/mcp/server-http/main.go
  cmd/examples/mcp/server-stdio/main.go
  env.example
  go.mod
  go.sum
  pkg/agent/agent.go
  pkg/llm/openai/client.go
  pkg/mcp/lazy.go
  pkg/mcp/mcp.go
Owners: @Ingenimax/maintainers, @Ingenimax/docs-team, @Ingenimax/go-reviewers

fix: address gosec security warnings
  cmd/agent-cli/main.go
  pkg/mcp/mcp.go
Owners: @Ingenimax/go-reviewers

fix: add comprehensive security validations for file operations
  .github/workflows/ci.yml
  cmd/agent-cli/main.go
  pkg/mcp/mcp.go
Owners: @Ingenimax/engineering, @Ingenimax/go-reviewers

fix: gosec
  cmd/agent-cli/main.go
Owners: @Ingenimax/go-reviewers

removing real path from example files
  cmd/agent-cli/examples/aws_api_server.json
  cmd/agent-cli/examples/k8s_kubectl.json
  cmd/agent-cli/examples/multi_mcp_servers.json
Owners: @Ingenimax/maintainers

fix: file structure + build error
  examples/mcp/client/main.go
  examples/mcp/server-http/main.go
  examples/mcp/server-stdio/main.go
  pkg/agent/config_test.go
  pkg/vectorstore/weaviate/weaviate_test.go
Owners: @Ingenimax/go-reviewers

feat: Add Azure OpenAI client with comprehensive features
  env.example
  examples/llm/azureopenai/README.md
  examples/llm/azureopenai/main.go
  pkg/config/config.go
  pkg/llm/azureopenai/README.md
  pkg/llm/azureopenai/client.go
  pkg/llm/azureopenai/client_test.go
  pkg/llm/azureopenai/streaming.go
Owners: @Ingenimax/maintainers, @Ingenimax/docs-team, @Ingenimax/go-reviewers

Remove redundant AZURE_OPENAI_MODEL parameter
  env.example
  examples/llm/azureopenai/README.md
  examples/llm/azureopenai/main.go
  pkg/config/config.go
  pkg/llm/azureopenai/README.md
  pkg/llm/azureopenai/client.go
  pkg/llm/azureopenai/client_test.go
Owners: @Ingenimax/maintainers, @Ingenimax/docs-team, @Ingenimax/go-reviewers

Add Azure OpenAI to main README
  README.md
Owners: @Ingenimax/docs-team

Add custom functions for agents/microservice
  examples/custom_functions/README.md
  examples/custom_functions/main.go
  pkg/agent/agent.go
  pkg/agent/custom_functions_test.go
  pkg/agent/streaming.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

fix lint
  examples/custom_functions/main.go
  pkg/agent/custom_functions_test.go
Owners: @Ingenimax/go-reviewers

fix lint
  examples/custom_functions/main.go
Owners: @Ingenimax/go-reviewers

add supported thinking models - vertex/anthropic
  pkg/llm/anthropic/client.go
Owners: @Ingenimax/go-reviewers

feat(openai): enhance assistant message handling with tool calls
  pkg/llm/openai/streaming.go
Owners: @Ingenimax/go-reviewers

Support for streamable client
  pkg/mcp/mcp.go
Owners: @Ingenimax/go-reviewers

Using Protocol type instead of Server type for defining server communication
  pkg/mcp/mcp.go
Owners: @Ingenimax/go-reviewers

Setting default transport to SSE for backward compatibility
  pkg/mcp/mcp.go
Owners: @Ingenimax/go-reviewers

add support to streaming intermediate messages during tool iterations
  docs/intermediate-messages-streaming.md
  examples/streaming_intermediate_messages/README.md
  examples/streaming_intermediate_messages/main.go
  pkg/agent/agent.go
  pkg/agent/streaming.go
  pkg/interfaces/streaming.go
  pkg/llm/anthropic/streaming.go
  pkg/llm/anthropic/streaming_intermediate_test.go
  pkg/llm/azureopenai/streaming.go
  pkg/llm/gemini/streaming.go
  pkg/llm/openai/streaming.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

fix lint
  pkg/llm/anthropic/streaming_intermediate_test.go
  pkg/llm/azureopenai/streaming.go
  pkg/llm/gemini/streaming.go
  pkg/llm/openai/streaming.go
Owners: @Ingenimax/go-reviewers

fix lint
  pkg/llm/azureopenai/streaming.go
  pkg/llm/gemini/streaming.go
  pkg/llm/openai/streaming.go
Owners: @Ingenimax/go-reviewers

Handling tool schema for new MCP SDK
  pkg/mcp/tool.go
Owners: @Ingenimax/go-reviewers

fix anthropic structured output
  examples/llm/anthropic/structured_output/README.md
  examples/llm/anthropic/structured_output/main.go
  examples/llm/anthropic/structured_output_with_tools/README.md
  examples/llm/anthropic/structured_output_with_tools/main.go
  examples/llm/anthropic/vertex/structured_output/README.md
  examples/llm/anthropic/vertex/structured_output/main.go
  pkg/llm/anthropic/client.go
  pkg/llm/anthropic/client_test.go
  pkg/orchestration/llm_orchestrator.go
  pkg/orchestration/llm_orchestrator_test.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

removed test files
  examples/llm/anthropic/structured_output/README.md
  examples/llm/anthropic/structured_output/main.go
  examples/llm/anthropic/structured_output_with_tools/README.md
  examples/llm/anthropic/structured_output_with_tools/main.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

fix lint issues
  pkg/llm/anthropic/client.go
Owners: @Ingenimax/go-reviewers

feat(gemini): enhance Vertex AI authentication options and client configuration
  examples/llm/gemini/README.md
  pkg/llm/gemini/client.go
  pkg/llm/gemini/client_test.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

Sending auth token to client
  pkg/mcp/mcp.go
Owners: @Ingenimax/go-reviewers

feat: add json logging switch
  examples/logging/README.md
  examples/logging/main.go
  pkg/logging/logger.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

Add retry per region
  pkg/llm/anthropic/client.go
  pkg/llm/anthropic/vertex.go
  pkg/llm/anthropic/vertex_test.go
  pkg/structuredoutput/utils.go
Owners: @Ingenimax/go-reviewers

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
*       @Ingenimax/maintainers

# Go source files
*.go    @Ingenimax/go-reviewers

# CI/CD and GitHub Actions
.github/workflows/    @Ingenimax/engineering

# Documentation
/docs/               @Ingenimax/docs-team
*.md                 @Ingenimax/docs-team

# Security-related files
SECURITY.md          @Ingenimax/security-team
