Repository Ingenimax/agent-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers, @Ingenimax/engineering, @Ingenimax/docs-team, @Ingenimax/security-team

fix: use built-in GITHUB_TOKEN instead of CI_GITHUB_TOKEN (#215)
  .github/workflows/release.yml
Owners: @Ingenimax/engineering

Update release.yml
  .github/workflows/release.yml
Owners: @Ingenimax/engineering

adding homebrew repo
  .goreleaser.yml
Owners: @Ingenimax/maintainers

Brew formula update for agent-sdk-go version v0.1.0
  agent-cli.rb
Owners: @Ingenimax/maintainers

Brew formula update for agent-sdk-go version v0.1.1
  agent-cli.rb
Owners: @Ingenimax/maintainers

docs: update CLI installation instructions with Homebrew support
  README.md
Owners: @Ingenimax/docs-team

fix: disable Homebrew formula and update installation docs
  .goreleaser.yml
  README.md
Owners: @Ingenimax/maintainers, @Ingenimax/docs-team

Added Tracing middleware to propagate tracing context to MCP servers
  pkg/mcp/mcp.go
Owners: @Ingenimax/go-reviewers

fix: restore backward compatibility
  pkg/tracing/langfuse.go
  pkg/tracing/opentelemetry.go
  pkg/tracing/traced_llm.go
Owners: @Ingenimax/go-reviewers

docs: add migration guide
  docs/tracing.md
Owners: @Ingenimax/docs-team

fix: add missing RecordError
  pkg/interfaces/tracer.go
  pkg/tracing/opentelemetry.go
  pkg/tracing/otel_langfuse.go
  pkg/tracing/session.go
  pkg/tracing/traced_llm.go
  pkg/tracing/traced_memory.go
Owners: @Ingenimax/go-reviewers

fix: tracing improvements and unification (#214)
  docs/tracing.md
  examples/tracing/README.md
  examples/tracing/main.go
  examples/tracing/production_config.go
  pkg/interfaces/tracer.go
  pkg/tracing/langfuse.go
  pkg/tracing/llm_otel.go
  pkg/tracing/opentelemetry.go
  pkg/tracing/otel_langfuse.go
  pkg/tracing/otel_llm_middleware.go
  pkg/tracing/session.go
  pkg/tracing/traced_llm.go
  pkg/tracing/traced_memory.go
  pkg/tracing/utils.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

feat: automate release tagging and versioning
  .github/workflows/release.yml
Owners: @Ingenimax/engineering

fix: only trigger releases on code changes, not build config
  .github/workflows/release.yml
Owners: @Ingenimax/engineering

feat: automate release tagging and versioning (#217)
  .github/workflows/release.yml
Owners: @Ingenimax/engineering

Update release.yml
  .github/workflows/release.yml
Owners: @Ingenimax/engineering

Update release.yml
  .github/workflows/release.yml
Owners: @Ingenimax/engineering

added support for tavily
  pkg/config/config.go
  pkg/tools/tavily/tavily.go
Owners: @Ingenimax/go-reviewers

Enhancements for tracing context propagation (#216)
  pkg/mcp/mcp.go
  pkg/tracing/opentelemetry.go
Owners: @Ingenimax/go-reviewers

fix(streaming): resolve duplicate tool execution and memory management issues
  pkg/agent/streaming.go
  pkg/interfaces/llm.go
  pkg/llm/anthropic/sse.go
  pkg/llm/anthropic/streaming.go
Owners: @Ingenimax/go-reviewers

fix(streaming): extend memory management fix to all LLM providers
  pkg/llm/azureopenai/streaming.go
  pkg/llm/gemini/streaming.go
  pkg/llm/openai/streaming.go
Owners: @Ingenimax/go-reviewers

style(streaming): fix indentation after memory management removal
  pkg/llm/anthropic/streaming.go
  pkg/llm/azureopenai/streaming.go
  pkg/llm/openai/streaming.go
Owners: @Ingenimax/go-reviewers

fix(streaming): resolve duplicate tool execution and memory management issues (#219)
  pkg/agent/streaming.go
  pkg/interfaces/llm.go
  pkg/llm/anthropic/sse.go
  pkg/llm/anthropic/streaming.go
  pkg/llm/azureopenai/streaming.go
  pkg/llm/gemini/streaming.go
  pkg/llm/openai/streaming.go
Owners: @Ingenimax/go-reviewers

feat(llm): add structured output support for streaming across providers
  pkg/llm/anthropic/streaming.go
  pkg/llm/azureopenai/streaming.go
  pkg/llm/gemini/client.go
  pkg/llm/gemini/streaming.go
  pkg/llm/openai/streaming.go
Owners: @Ingenimax/go-reviewers

feat(llm): add structured output support for streaming across providers (#220)
  pkg/llm/anthropic/streaming.go
  pkg/llm/azureopenai/streaming.go
  pkg/llm/gemini/client.go
  pkg/llm/gemini/streaming.go
  pkg/llm/openai/streaming.go
Owners: @Ingenimax/go-reviewers

Update README.md - add discord community
  README.md
Owners: @Ingenimax/docs-team

Add Discord community section with badge button
  README.md
Owners: @Ingenimax/docs-team

Update README.md - add discord community (#222)
  README.md
Owners: @Ingenimax/docs-team

Add Discord community section with badge button
  README.md
Owners: @Ingenimax/docs-team

fix: prevent duplicate tool calls in streaming mode
  pkg/llm/anthropic/streaming.go
Owners: @Ingenimax/go-reviewers

layout fix
  docs/agent_ui.md
  examples/ui/test_ui_with_tools.go
  pkg/agent/agent.go
  pkg/agent/validation.go
  pkg/grpc/server/agent_server.go
  pkg/llm/anthropic/client.go
  pkg/llm/ollama/client.go
  pkg/llm/vllm/client.go
  pkg/microservice/ui-nextjs/components/layout/main-layout.tsx
  pkg/microservice/ui-nextjs/components/screens/agent-info-screen.tsx
  pkg/microservice/ui-nextjs/components/screens/memory-screen.tsx
  pkg/microservice/ui-nextjs/components/screens/settings-screen.tsx
  pkg/microservice/ui-nextjs/components/screens/sub-agents-screen.tsx
  pkg/microservice/ui-nextjs/components/screens/tools-screen.tsx
  pkg/microservice/ui_server.go
  pkg/microservice/ui_server_fixes_test.go
  test_subagents_tools.go
  test_updated_ui.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers, @Ingenimax/maintainers

feat(ui): Add two-panel memory browser and enhanced chat controls
  docs/agent_ui.md
  examples/custom_functions/main.go
  examples/llm/anthropic/vertex/structured_output/main.go
  examples/ui/advanced_agent_with_ui.go
  examples/ui/agent_with_buffer_memory.go
  examples/ui/basic_agent_with_ui.go
  examples/ui/test_ui_with_tools.go
  pkg/agent/agent.go
  pkg/agent/custom_functions_test.go
  pkg/agent/validation.go
  pkg/interfaces/memory.go
  pkg/llm/anthropic/vertex_test.go
  pkg/memory/conversation_buffer.go
  pkg/memory/redis_memory.go
  pkg/microservice/ui-nextjs/components/chat/chat-area.tsx
  pkg/microservice/ui-nextjs/components/memory/conversation-detail.tsx
  pkg/microservice/ui-nextjs/components/memory/conversation-list.tsx
  pkg/microservice/ui-nextjs/components/memory/memory-browser.tsx
  pkg/microservice/ui-nextjs/components/screens/memory-screen.tsx
  pkg/microservice/ui-nextjs/components/ui/label.tsx
  pkg/microservice/ui-nextjs/lib/api.ts
  pkg/microservice/ui-nextjs/package-lock.json
  pkg/microservice/ui-nextjs/package.json
  pkg/microservice/ui-nextjs/types/agent.ts
  pkg/microservice/ui_server.go
  pkg/microservice/ui_server_fixes_test.go
  pkg/orchestration/llm_orchestrator_test.go
  pkg/tools/calculator/calculator.go
  test_subagents_tools.go
  test_updated_ui.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers, @Ingenimax/maintainers

build(ui): Add compiled Next.js output files for Go embedding
  pkg/microservice/ui-nextjs/.gitignore
  pkg/microservice/ui-nextjs/out/404.html
  pkg/microservice/ui-nextjs/out/__next.__PAGE__.txt
  pkg/microservice/ui-nextjs/out/__next._full.txt
  pkg/microservice/ui-nextjs/out/__next._index.txt
  pkg/microservice/ui-nextjs/out/__next._tree.txt
  pkg/microservice/ui-nextjs/out/_next/static/KlYWcIuH2L4e01ueatVUa/_buildManifest.js
  pkg/microservice/ui-nextjs/out/_next/static/KlYWcIuH2L4e01ueatVUa/_clientMiddlewareManifest.json
  pkg/microservice/ui-nextjs/out/_next/static/KlYWcIuH2L4e01ueatVUa/_ssgManifest.js
  pkg/microservice/ui-nextjs/out/_next/static/chunks/141bbf1d1d5842a3.js
  pkg/microservice/ui-nextjs/out/_next/static/chunks/1cfcbd9d834717bf.css
  pkg/microservice/ui-nextjs/out/_next/static/chunks/83a6226cfaec84a8.js
  pkg/microservice/ui-nextjs/out/_next/static/chunks/99b8282c8baf68a5.css
  pkg/microservice/ui-nextjs/out/_next/static/chunks/a6dad97d9634a72d.js
  pkg/microservice/ui-nextjs/out/_next/static/chunks/a7c9585371c888a5.js
  pkg/microservice/ui-nextjs/out/_next/static/chunks/c0220b0799ac8275.js
  pkg/microservice/ui-nextjs/out/_next/static/chunks/e59912981ecc37e2.js
  pkg/microservice/ui-nextjs/out/_next/static/chunks/turbopack-02da8f0944f97098.js
  pkg/microservice/ui-nextjs/out/_next/static/media/4fa387ec64143e14-s.c1fdd6c2.woff2
  pkg/microservice/ui-nextjs/out/_next/static/media/7178b3e590c64307-s.b97b3418.woff2
  pkg/microservice/ui-nextjs/out/_next/static/media/797e433ab948586e-s.p.dbea232f.woff2
  pkg/microservice/ui-nextjs/out/_next/static/media/8a480f0b521d4e75-s.8e0177b5.woff2
  pkg/microservice/ui-nextjs/out/_next/static/media/bbc41e54d2fcbd21-s.799d8ef8.woff2
  pkg/microservice/ui-nextjs/out/_next/static/media/caa3a2e1cccd8315-s.p.853070df.woff2
  pkg/microservice/ui-nextjs/out/_next/static/media/favicon.0b3bf435.ico
  pkg/microservice/ui-nextjs/out/_not-found.html
  pkg/microservice/ui-nextjs/out/_not-found.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._full.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._index.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._not-found.__PAGE__.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._not-found.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._tree.txt
  pkg/microservice/ui-nextjs/out/favicon.ico
  pkg/microservice/ui-nextjs/out/file.svg
  pkg/microservice/ui-nextjs/out/globe.svg
  pkg/microservice/ui-nextjs/out/index.html
  pkg/microservice/ui-nextjs/out/index.txt
  pkg/microservice/ui-nextjs/out/next.svg
  pkg/microservice/ui-nextjs/out/vercel.svg
  pkg/microservice/ui-nextjs/out/window.svg
Owners: @Ingenimax/maintainers

adjustments
  pkg/microservice/ui-nextjs/components/screens/agent-info-screen.tsx
  pkg/microservice/ui-nextjs/components/screens/settings-screen.tsx
  pkg/microservice/ui-nextjs/out/404.html
  pkg/microservice/ui-nextjs/out/__next.__PAGE__.txt
  pkg/microservice/ui-nextjs/out/__next._full.txt
  pkg/microservice/ui-nextjs/out/__next._index.txt
  pkg/microservice/ui-nextjs/out/__next._tree.txt
  pkg/microservice/ui-nextjs/out/_next/static/chunks/1cfcbd9d834717bf.css
  pkg/microservice/ui-nextjs/out/_next/static/chunks/b758271669eb08ca.js
  pkg/microservice/ui-nextjs/out/_next/static/chunks/c0220b0799ac8275.js
  pkg/microservice/ui-nextjs/out/_next/static/chunks/e9c92d0c05cec029.css
  pkg/microservice/ui-nextjs/out/_next/static/k3t0RRms5qC635o6wq-Pv/_buildManifest.js
  pkg/microservice/ui-nextjs/out/_next/static/k3t0RRms5qC635o6wq-Pv/_clientMiddlewareManifest.json
  pkg/microservice/ui-nextjs/out/_next/static/k3t0RRms5qC635o6wq-Pv/_ssgManifest.js
  pkg/microservice/ui-nextjs/out/_not-found.html
  pkg/microservice/ui-nextjs/out/_not-found.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._full.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._index.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._not-found.__PAGE__.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._not-found.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._tree.txt
  pkg/microservice/ui-nextjs/out/index.html
  pkg/microservice/ui-nextjs/out/index.txt
Owners: @Ingenimax/maintainers

fix issues
  examples/ui/advanced_agent_with_ui.go
  examples/ui/basic_agent_with_ui.go
  examples/ui/test_ui_with_tools.go
  pkg/microservice/ui_server.go
Owners: @Ingenimax/go-reviewers

fix lint
  pkg/agent/integration_test.go
  pkg/grpc/client/remote_agent_test.go
  pkg/grpc/server/agent_server.go
  pkg/microservice/ui_server.go
  pkg/multitenancy/multitenancy_test.go
Owners: @Ingenimax/go-reviewers

remove create subagent + fix issues
  examples/ui/advanced_agent_with_ui.go
  examples/ui/main.go
  examples/ui/test_ui_with_tools.go
  pkg/microservice/ui-nextjs/components/screens/sub-agents-screen.tsx
  pkg/microservice/ui-nextjs/out/404.html
  pkg/microservice/ui-nextjs/out/__next.__PAGE__.txt
  pkg/microservice/ui-nextjs/out/__next._full.txt
  pkg/microservice/ui-nextjs/out/__next._index.txt
  pkg/microservice/ui-nextjs/out/__next._tree.txt
  pkg/microservice/ui-nextjs/out/_next/static/chunks/5c86f2fd0d1ed9fe.css
  pkg/microservice/ui-nextjs/out/_next/static/chunks/af8fbb5d7098e754.js
  pkg/microservice/ui-nextjs/out/_next/static/chunks/e9c92d0c05cec029.css
  pkg/microservice/ui-nextjs/out/_next/static/x_1mwwQqdQTxOHKmTbqBS/_buildManifest.js
  pkg/microservice/ui-nextjs/out/_next/static/x_1mwwQqdQTxOHKmTbqBS/_clientMiddlewareManifest.json
  pkg/microservice/ui-nextjs/out/_next/static/x_1mwwQqdQTxOHKmTbqBS/_ssgManifest.js
  pkg/microservice/ui-nextjs/out/_not-found.html
  pkg/microservice/ui-nextjs/out/_not-found.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._full.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._index.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._not-found.__PAGE__.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._not-found.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._tree.txt
  pkg/microservice/ui-nextjs/out/index.html
  pkg/microservice/ui-nextjs/out/index.txt
  pkg/microservice/ui_server.go
Owners: @Ingenimax/go-reviewers, @Ingenimax/maintainers

undo change
  pkg/agent/integration_test.go
Owners: @Ingenimax/go-reviewers

fix lint
  pkg/agent/integration_test.go
Owners: @Ingenimax/go-reviewers

fix: remove deprecated +build tag
  pkg/agent/integration_test.go
Owners: @Ingenimax/go-reviewers

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
*       @Ingenimax/maintainers

# Go source files
*.go    @Ingenimax/go-reviewers

# CI/CD and GitHub Actions
.github/workflows/    @Ingenimax/engineering

# Documentation
/docs/               @Ingenimax/docs-team
*.md                 @Ingenimax/docs-team

# Security-related files
SECURITY.md          @Ingenimax/security-team
