Repository Ingenimax/agent-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers, @Ingenimax/engineering, @Ingenimax/docs-team, @Ingenimax/security-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
*       @Ingenimax/maintainers

# Go source files
*.go    @Ingenimax/go-reviewers

# CI/CD and GitHub Actions
.github/workflows/    @Ingenimax/engineering

# Documentation
/docs/               @Ingenimax/docs-team
*.md                 @Ingenimax/docs-team

# Security-related files
SECURITY.md          @Ingenimax/security-team

feat: adding reasoning support for openai client
  docs/llm.md
  examples/llm/openai/README.md
  examples/llm/openai/reasoning/README.md
  examples/llm/openai/reasoning/main.go
  pkg/interfaces/llm.go
  pkg/llm/openai/client.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

cleaning up files
  aggregate_md.py
  combined_docs.md
Owners: @Ingenimax/maintainers, @Ingenimax/docs-team

Add support to MCP
  cmd/examples/mcp/client/main.go
  cmd/examples/mcp/server-http/main.go
  cmd/examples/mcp/server-stdio/main.go
  go.mod
  go.sum
  pkg/agent/agent.go
  pkg/interfaces/mcp.go
  pkg/mcp/README.md
  pkg/mcp/adapters.go
  pkg/mcp/mcp.go
  pkg/mcp/tool.go
  pkg/mcp/tools.go
Owners: @Ingenimax/go-reviewers, @Ingenimax/maintainers, @Ingenimax/docs-team

fix security items
  pkg/mcp/mcp.go
Owners: @Ingenimax/go-reviewers

fix security items
  cmd/examples/mcp/client/main.go
  cmd/examples/mcp/server-http/main.go
  pkg/mcp/mcp.go
  pkg/mcp/tools.go
Owners: @Ingenimax/go-reviewers

// #nosec
  pkg/mcp/mcp.go
Owners: @Ingenimax/go-reviewers

fix mod
  go.mod
  go.sum
Owners: @Ingenimax/maintainers

lint
  pkg/mcp/tools.go
Owners: @Ingenimax/go-reviewers

Add mcp info to readme
  README.md
Owners: @Ingenimax/docs-team

implemented concurrent tool execution for openai
  pkg/llm/openai/client.go
Owners: @Ingenimax/go-reviewers

fix(agent): remove duplicate MCP tools collection
  pkg/agent/agent.go
Owners: @Ingenimax/go-reviewers

docs(readme): update web search functionality instructions
  examples/orchestration/agent_handoff/README.md
  pkg/tools/websearch/websearch.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

add vertexai/gemini support
  README.md
  examples/llm/vertex/README.md
  examples/llm/vertex/main.go
  go.mod
  go.sum
  pkg/llm/vertex/README.md
  pkg/llm/vertex/client.go
  pkg/llm/vertex/client_test.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers, @Ingenimax/maintainers

fix lint issues
  examples/llm/vertex/main.go
  pkg/llm/vertex/client.go
Owners: @Ingenimax/go-reviewers

add agent max_iterations support
  examples/simple_agent/main.go
  pkg/agent/agent.go
  pkg/interfaces/llm.go
  pkg/llm/anthropic/client.go
  pkg/llm/openai/client.go
  pkg/llm/vertex/client.go
Owners: @Ingenimax/go-reviewers

add agent description + capabilities
  pkg/agent/agent.go
Owners: @Ingenimax/go-reviewers

replace lib sashabaranov/go-openai by openai/openai-go
  go.mod
  go.sum
  pkg/embedding/embedding.go
  pkg/llm/openai/client.go
  pkg/llm/openai/client_test.go
  pkg/llm/types.go
Owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers

add otel langfuse support
  examples/tracing/main.go
  go.mod
  go.sum
  pkg/agent/agent.go
  pkg/interfaces/tracer.go
  pkg/llm/openai/client.go
  pkg/tracing/context.go
  pkg/tracing/langfuse.go
  pkg/tracing/llm.go
  pkg/tracing/otel_langfuse.go
  pkg/tracing/otel_llm_middleware.go
  pkg/tracing/otel_tracer_adapter.go
  pkg/tracing/session.go
Owners: @Ingenimax/go-reviewers, @Ingenimax/maintainers

fix lint issues
  pkg/tracing/otel_langfuse.go
Owners: @Ingenimax/go-reviewers

add model name
  pkg/tracing/otel_llm_middleware.go
Owners: @Ingenimax/go-reviewers

fix model name
  pkg/llm/openai/client.go
  pkg/tracing/otel_llm_middleware.go
Owners: @Ingenimax/go-reviewers

Add agent name attributes
  pkg/agent/agent.go
  pkg/tracing/otel_langfuse.go
  pkg/tracing/otel_langfuse_test.go
Owners: @Ingenimax/go-reviewers

fix test
  pkg/tracing/otel_langfuse_test.go
Owners: @Ingenimax/go-reviewers

add structured output support in yaml agent definition
  README.md
  docs/structured_output_yaml.md
  examples/agent_config_yaml/main.go
  examples/agent_config_yaml/tasks.yaml
  pkg/agent/agent.go
  pkg/agent/config.go
  pkg/agent/config_test.go
  pkg/agent/testdata/agents_with_structured_output.yaml
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers, @Ingenimax/maintainers

Add ollama support for running local models
  README.md
  examples/llm/ollama/agent_integration/main.go
  examples/llm/ollama/main.go
  examples/llm/ollama/structured_output/README.md
  examples/llm/ollama/structured_output/main.go
  pkg/llm/ollama/README.md
  pkg/llm/ollama/client.go
  pkg/llm/ollama/client_test.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

fix lint
  examples/llm/ollama/structured_output/main.go
  pkg/llm/ollama/client.go
Owners: @Ingenimax/go-reviewers

fix lint
  examples/llm/ollama/structured_output/main.go
Owners: @Ingenimax/go-reviewers

fix errcheck
  pkg/llm/ollama/client.go
  pkg/llm/ollama/client_test.go
Owners: @Ingenimax/go-reviewers

fix errcheck
  pkg/llm/ollama/client.go
Owners: @Ingenimax/go-reviewers

fix security issue
  pkg/llm/ollama/client.go
Owners: @Ingenimax/go-reviewers

Add vLLM LLM provider support
  README.md
  examples/llm/vllm/README.md
  examples/llm/vllm/agent_integration/main.go
  examples/llm/vllm/main.go
  examples/llm/vllm/structured_output/main.go
  pkg/llm/vllm/README.md
  pkg/llm/vllm/client.go
  pkg/llm/vllm/client_test.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

fix lint issues
  pkg/llm/ollama/client.go
Owners: @Ingenimax/go-reviewers

fix lint issues
  pkg/llm/ollama/client.go
Owners: @Ingenimax/go-reviewers

Weaviate adjustments and langfuse input fix
  examples/vectorstore/weaviate/README.md
  examples/vectorstore/weaviate/main.go
  pkg/interfaces/vectorstore.go
  pkg/tracing/otel_langfuse.go
  pkg/vectorstore/weaviate/weaviate.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

fix example
  examples/embedding/advanced/main.go
Owners: @Ingenimax/go-reviewers

fix test
  pkg/vectorstore/weaviate/weaviate_test.go
Owners: @Ingenimax/go-reviewers

remove log
  pkg/llm/vllm/client.go
Owners: @Ingenimax/go-reviewers

improve readme
  examples/vectorstore/weaviate/README.md
  examples/vectorstore/weaviate/main.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

adjustment
  examples/llm/vllm/agent_integration/main.go
  examples/llm/vllm/structured_output/main.go
Owners: @Ingenimax/go-reviewers

fix lint
  pkg/llm/vllm/client.go
Owners: @Ingenimax/go-reviewers
