Repository Ingenimax/agent-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers, @Ingenimax/engineering, @Ingenimax/docs-team, @Ingenimax/security-team

Update README.md
  README.md
Owners: @Ingenimax/docs-team

feat(graphrag): Add Graph-based Retrieval-Augmented Generation support
  docs/graphrag/architecture.md
  docs/graphrag/usage-guide.md
  examples/graphrag-agent/main.go
  examples/graphrag/main.go
  pkg/agent/agent.go
  pkg/agent/graphrag_option.go
  pkg/graphrag/errors.go
  pkg/graphrag/options.go
  pkg/graphrag/types.go
  pkg/graphrag/weaviate/entity.go
  pkg/graphrag/weaviate/extraction.go
  pkg/graphrag/weaviate/relationship.go
  pkg/graphrag/weaviate/schema.go
  pkg/graphrag/weaviate/search.go
  pkg/graphrag/weaviate/store.go
  pkg/graphrag/weaviate/store_test.go
  pkg/graphrag/weaviate/traversal.go
  pkg/interfaces/graphrag.go
  pkg/tools/graphrag/add_entity.go
  pkg/tools/graphrag/add_relationship.go
  pkg/tools/graphrag/extract.go
  pkg/tools/graphrag/get_context.go
  pkg/tools/graphrag/search.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

feat(graphrag): Add memory agent example using GraphRAG as persistent memory
  docs/graphrag/usage-guide.md
  examples/graphrag-memory-agent/main.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

test(graphrag): Add comprehensive tests for memory agent example
  examples/graphrag-memory-agent/main_test.go
Owners: @Ingenimax/go-reviewers

fix test0
  pkg/graphrag/weaviate/store_test.go
Owners: @Ingenimax/go-reviewers

fix: skip graphrag/weaviate tests when Weaviate unavailable in CI
  examples/graphrag-memory-agent/main_test.go
  pkg/graphrag/weaviate/store_test.go
Owners: @Ingenimax/go-reviewers

fix: handle remaining errcheck warnings for Close() calls
  examples/graphrag-memory-agent/main_test.go
  pkg/graphrag/weaviate/store_test.go
Owners: @Ingenimax/go-reviewers

fix: handle errcheck warnings in graphrag examples
  examples/graphrag-agent/main.go
  examples/graphrag-memory-agent/main.go
  examples/graphrag/main.go
Owners: @Ingenimax/go-reviewers

feat(graphrag): Add Graph-based Retrieval-Augmented Generation support (#270)
  docs/graphrag/architecture.md
  docs/graphrag/usage-guide.md
  examples/graphrag-agent/main.go
  examples/graphrag-memory-agent/main.go
  examples/graphrag-memory-agent/main_test.go
  examples/graphrag/main.go
  pkg/agent/agent.go
  pkg/agent/graphrag_option.go
  pkg/graphrag/errors.go
  pkg/graphrag/options.go
  pkg/graphrag/types.go
  pkg/graphrag/weaviate/entity.go
  pkg/graphrag/weaviate/extraction.go
  pkg/graphrag/weaviate/relationship.go
  pkg/graphrag/weaviate/schema.go
  pkg/graphrag/weaviate/search.go
  pkg/graphrag/weaviate/store.go
  pkg/graphrag/weaviate/store_test.go
  pkg/graphrag/weaviate/traversal.go
  pkg/interfaces/graphrag.go
  pkg/tools/graphrag/add_entity.go
  pkg/tools/graphrag/add_relationship.go
  pkg/tools/graphrag/extract.go
  pkg/tools/graphrag/get_context.go
  pkg/tools/graphrag/search.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

added support for HTTP Transport type in MCP server configuration
  pkg/agent/agent.go
  pkg/agent/mcp_config.go
  pkg/mcp/builder.go
  pkg/mcp/lazy.go
Owners: @Ingenimax/go-reviewers

added support for HTTP Transport type in MCP server configuration (#271)
  pkg/agent/agent.go
  pkg/agent/mcp_config.go
  pkg/mcp/builder.go
  pkg/mcp/lazy.go
Owners: @Ingenimax/go-reviewers

Add Bedrock
  examples/llm/anthropic/bedrock/README.md
  examples/llm/anthropic/bedrock/main.go
  go.mod
  go.sum
  pkg/llm/anthropic/bedrock.go
  pkg/llm/anthropic/client.go
  pkg/llm/anthropic/streaming.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers, @Ingenimax/maintainers

Refactor
  pkg/llm/anthropic/bedrock.go
  pkg/llm/anthropic/client.go
  pkg/llm/anthropic/streaming.go
Owners: @Ingenimax/go-reviewers

Refactor
  pkg/llm/anthropic/bedrock.go
Owners: @Ingenimax/go-reviewers

feat: bedrock support (#273)
  examples/llm/anthropic/bedrock/README.md
  examples/llm/anthropic/bedrock/main.go
  go.mod
  go.sum
  pkg/llm/anthropic/bedrock.go
  pkg/llm/anthropic/client.go
  pkg/llm/anthropic/streaming.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers, @Ingenimax/maintainers

fix: include thinking parameter in Bedrock requests
  pkg/llm/anthropic/bedrock.go
Owners: @Ingenimax/go-reviewers

fix: include thinking parameter in Bedrock requests (#274)
  pkg/llm/anthropic/bedrock.go
Owners: @Ingenimax/go-reviewers

feat(anthropic): add prompt caching support
  pkg/interfaces/llm.go
  pkg/llm/anthropic/bedrock.go
  pkg/llm/anthropic/cache.go
  pkg/llm/anthropic/cache_integration_test.go
  pkg/llm/anthropic/cache_request.go
  pkg/llm/anthropic/cache_test.go
  pkg/llm/anthropic/client.go
Owners: @Ingenimax/go-reviewers

MessageStartData mismatch
  pkg/llm/anthropic/sse.go
  pkg/llm/anthropic/sse_test.go
Owners: @Ingenimax/go-reviewers

feat(anthropic): add prompt caching support (#277)
  pkg/interfaces/llm.go
  pkg/llm/anthropic/bedrock.go
  pkg/llm/anthropic/cache.go
  pkg/llm/anthropic/cache_integration_test.go
  pkg/llm/anthropic/cache_request.go
  pkg/llm/anthropic/cache_test.go
  pkg/llm/anthropic/client.go
Owners: @Ingenimax/go-reviewers

Ability to filter tools for MCP Servers through config
  pkg/agent/agent.go
  pkg/agent/mcp_config.go
  pkg/mcp/lazy.go
Owners: @Ingenimax/go-reviewers

Ability to filter tools for MCP Servers through config (#281)
  pkg/agent/agent.go
  pkg/agent/mcp_config.go
  pkg/mcp/lazy.go
Owners: @Ingenimax/go-reviewers

MessageStartData mismatch (#278)
  pkg/llm/anthropic/sse.go
  pkg/llm/anthropic/sse_test.go
Owners: @Ingenimax/go-reviewers

Add image generation feature with Vertex AI support
  .claude/settings.local.json
  docs/image-generation.md
  examples/image_generation/agents.yaml
  examples/image_generation/agents.yaml.example
  examples/image_generation/main.go
  go.mod
  go.sum
  pkg/agent/agent.go
  pkg/agent/config.go
  pkg/agent/llm_factory.go
  pkg/interfaces/image.go
  pkg/interfaces/llm.go
  pkg/llm/anthropic/cache.go
  pkg/llm/anthropic/cache_integration_test.go
  pkg/llm/anthropic/cache_request.go
  pkg/llm/anthropic/cache_test.go
  pkg/llm/gemini/client.go
  pkg/llm/gemini/image_generation.go
  pkg/llm/gemini/types.go
  pkg/storage/gcs/gcs.go
  pkg/storage/local/local.go
  pkg/storage/storage.go
  pkg/tools/imagegen/imagegen.go
Owners: @Ingenimax/maintainers, @Ingenimax/docs-team, @Ingenimax/go-reviewers

remove file
  .claude/settings.local.json
Owners: @Ingenimax/maintainers

feat(multimodal): add image input support across CLI, microservice, and providers
  cmd/agent-cli/main.go
  cmd/agent-cli/multimodal.go
  pkg/agent/agent.go
  pkg/agent/streaming.go
  pkg/interfaces/context_multimodal.go
  pkg/interfaces/llm.go
  pkg/interfaces/memory.go
  pkg/interfaces/multimodal.go
  pkg/llm/anthropic/cache_request.go
  pkg/llm/anthropic/client.go
  pkg/llm/anthropic/client_test.go
  pkg/llm/anthropic/message_history.go
  pkg/llm/anthropic/message_history_test.go
  pkg/llm/anthropic/multimodal.go
  pkg/llm/gemini/message_history.go
  pkg/llm/gemini/message_history_test.go
  pkg/llm/gemini/multimodal.go
  pkg/llm/openai/client.go
  pkg/llm/openai/message_history.go
  pkg/llm/openai/message_history_test.go
  pkg/llm/openai/streaming.go
  pkg/microservice/http_server.go
  pkg/microservice/http_server_test.go
Owners: @Ingenimax/go-reviewers

feat(ui): add multimodal image input support
  pkg/microservice/ui-nextjs/components/chat/chat-area.tsx
  pkg/microservice/ui-nextjs/out/404.html
  pkg/microservice/ui-nextjs/out/__next.__PAGE__.txt
  pkg/microservice/ui-nextjs/out/__next._full.txt
  pkg/microservice/ui-nextjs/out/__next._index.txt
  pkg/microservice/ui-nextjs/out/__next._tree.txt
  pkg/microservice/ui-nextjs/out/_next/static/UioFai3GsWAtK3cvV_jsw/_clientMiddlewareManifest.json
  pkg/microservice/ui-nextjs/out/_next/static/UioFai3GsWAtK3cvV_jsw/_ssgManifest.js
  pkg/microservice/ui-nextjs/out/_next/static/WsDugtuvOInQM0VZ-aNvY/_buildManifest.js
  pkg/microservice/ui-nextjs/out/_next/static/WsDugtuvOInQM0VZ-aNvY/_clientMiddlewareManifest.json
  pkg/microservice/ui-nextjs/out/_next/static/WsDugtuvOInQM0VZ-aNvY/_ssgManifest.js
  pkg/microservice/ui-nextjs/out/_next/static/chunks/141bbf1d1d5842a3.js
  pkg/microservice/ui-nextjs/out/_next/static/chunks/1fdee2617801e848.css
  pkg/microservice/ui-nextjs/out/_next/static/chunks/6e620c56c1b45986.js
  pkg/microservice/ui-nextjs/out/_next/static/chunks/83a6226cfaec84a8.js
  pkg/microservice/ui-nextjs/out/_next/static/chunks/a7c9585371c888a5.js
  pkg/microservice/ui-nextjs/out/_next/static/chunks/e59912981ecc37e2.js
  pkg/microservice/ui-nextjs/out/_next/static/chunks/efa96dc4c73bd973.js
  pkg/microservice/ui-nextjs/out/_next/static/chunks/turbopack-02da8f0944f97098.js
  pkg/microservice/ui-nextjs/out/_next/static/tHpNOKvU02ISb5AZolh7l/_buildManifest.js
  pkg/microservice/ui-nextjs/out/_next/static/tHpNOKvU02ISb5AZolh7l/_clientMiddlewareManifest.json
  pkg/microservice/ui-nextjs/out/_next/static/tHpNOKvU02ISb5AZolh7l/_ssgManifest.js
  pkg/microservice/ui-nextjs/out/_not-found.html
  pkg/microservice/ui-nextjs/out/_not-found.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._full.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._index.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._not-found.__PAGE__.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._not-found.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._tree.txt
  pkg/microservice/ui-nextjs/out/index.html
  pkg/microservice/ui-nextjs/out/index.txt
  pkg/microservice/ui-nextjs/types/agent.ts
  pkg/microservice/ui_server.go
Owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers

feat(ui): unify image attachments and add UI multimodal server example
  examples/microservices/README.md
  examples/microservices/ui_multimodal_server/README.md
  examples/microservices/ui_multimodal_server/main.go
  pkg/microservice/ui-nextjs/components/chat/chat-area.tsx
  pkg/microservice/ui-nextjs/components/chat/chat-message.tsx
  pkg/microservice/ui-nextjs/components/memory/memory-browser.tsx
  pkg/microservice/ui-nextjs/components/screens/agent-info-screen.tsx
  pkg/microservice/ui-nextjs/components/screens/settings-screen.tsx
  pkg/microservice/ui-nextjs/components/screens/traces-screen.tsx
  pkg/microservice/ui-nextjs/out/404.html
  pkg/microservice/ui-nextjs/out/__next.__PAGE__.txt
  pkg/microservice/ui-nextjs/out/__next._full.txt
  pkg/microservice/ui-nextjs/out/__next._index.txt
  pkg/microservice/ui-nextjs/out/__next._tree.txt
  pkg/microservice/ui-nextjs/out/_next/static/chunks/a17b07d0b592b4f6.js
  pkg/microservice/ui-nextjs/out/_next/static/chunks/efa96dc4c73bd973.js
  pkg/microservice/ui-nextjs/out/_next/static/tFHY7R73l2HQoRriyhQkH/_buildManifest.js
  pkg/microservice/ui-nextjs/out/_next/static/tFHY7R73l2HQoRriyhQkH/_clientMiddlewareManifest.json
  pkg/microservice/ui-nextjs/out/_next/static/tFHY7R73l2HQoRriyhQkH/_ssgManifest.js
  pkg/microservice/ui-nextjs/out/_not-found.html
  pkg/microservice/ui-nextjs/out/_not-found.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._full.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._index.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._not-found.__PAGE__.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._not-found.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._tree.txt
  pkg/microservice/ui-nextjs/out/index.html
  pkg/microservice/ui-nextjs/out/index.txt
  pkg/microservice/ui-nextjs/types/agent.ts
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers, @Ingenimax/maintainers

fix lint issues
  pkg/interfaces/llm.go
  pkg/llm/anthropic/client.go
Owners: @Ingenimax/go-reviewers

fix lint issues
  pkg/storage/local/local.go
Owners: @Ingenimax/go-reviewers

fix lint issues
  pkg/interfaces/llm.go
  pkg/llm/anthropic/client.go
Owners: @Ingenimax/go-reviewers

fix lint issues
  pkg/storage/gcs/gcs.go
Owners: @Ingenimax/go-reviewers

lint issues
  examples/image_generation_ui/main.go
Owners: @Ingenimax/go-reviewers

lint issues
  examples/image_generation_ui/main.go
  examples/multi_turn_image_editing/main.go
  generated-images/1768862882765165557_0cc5f80dc12b.png
  generated-images/1768862932063975390_baa666ba25b8.png
  generated-images/1768863139133966604_7454bcc3e7f5.png
  generated-images/1768863297905648767_ad4c1d7af9d4.png
  generated-images/1768863728613550841_7dd0e2a4c051.png
  generated-images/1768863793400960550_5eca5f67b21b.png
  generated-images/1768863999620331029_76ce60c5d1da.png
  generated-images/1768864186408675372_8d7c3cfbe424.png
  generated-images/1769007680694010341_f6d77281e5d0.png
  pkg/storage/gcs/gcs.go
  pkg/tools/imageedit/imageedit.go
  pkg/tools/imagegen/imagegen.go
Owners: @Ingenimax/go-reviewers, @Ingenimax/maintainers

remove images
  output/turn1_water_cycle.png
  output/turn2_water_cycle_labeled.png
  output/turn3_water_cycle_spanish.png
Owners: @Ingenimax/maintainers

fix lint
  examples/multi_turn_image_editing/main.go
  pkg/storage/gcs/gcs.go
Owners: @Ingenimax/go-reviewers

Fix merge config - image generation
  pkg/agentconfig/unified_loader.go
Owners: @Ingenimax/go-reviewers

Fix merge config - image generation (#286)
  pkg/agentconfig/unified_loader.go
Owners: @Ingenimax/go-reviewers

fix: populate Content field in StreamEventToolResult
  pkg/llm/openai/streaming.go
Owners: @Ingenimax/go-reviewers

fix: resolve golangci-lint and gosec issues
  cmd/agent-cli/multimodal.go
  pkg/microservice/http_server.go
  pkg/microservice/http_server_test.go
Owners: @Ingenimax/go-reviewers

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
*       @Ingenimax/maintainers

# Go source files
*.go    @Ingenimax/go-reviewers

# CI/CD and GitHub Actions
.github/workflows/    @Ingenimax/engineering

# Documentation
/docs/               @Ingenimax/docs-team
*.md                 @Ingenimax/docs-team

# Security-related files
SECURITY.md          @Ingenimax/security-team
