Repository Ingenimax/agent-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers, @Ingenimax/engineering, @Ingenimax/docs-team, @Ingenimax/security-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
*       @Ingenimax/maintainers

# Go source files
*.go    @Ingenimax/go-reviewers

# CI/CD and GitHub Actions
.github/workflows/    @Ingenimax/engineering

# Documentation
/docs/               @Ingenimax/docs-team
*.md                 @Ingenimax/docs-team

# Security-related files
SECURITY.md          @Ingenimax/security-team

feat: add agent execution traces UI with real-time monitoring
  pkg/microservice/ui-nextjs/components/layout/main-layout.tsx
  pkg/microservice/ui-nextjs/components/layout/sidebar.tsx
  pkg/microservice/ui-nextjs/components/screens/traces-screen.tsx
  pkg/microservice/ui-nextjs/components/traces/trace-detail-viewer.tsx
  pkg/microservice/ui-nextjs/components/ui/table.tsx
  pkg/microservice/ui-nextjs/lib/api.ts
  pkg/microservice/ui-nextjs/out/404.html
  pkg/microservice/ui-nextjs/out/__next.__PAGE__.txt
  pkg/microservice/ui-nextjs/out/__next._full.txt
  pkg/microservice/ui-nextjs/out/__next._index.txt
  pkg/microservice/ui-nextjs/out/__next._tree.txt
  pkg/microservice/ui-nextjs/out/_next/static/chunks/5c86f2fd0d1ed9fe.css
  pkg/microservice/ui-nextjs/out/_next/static/chunks/76ddb5238174efba.js
  pkg/microservice/ui-nextjs/out/_next/static/chunks/a39697ca29c93345.css
  pkg/microservice/ui-nextjs/out/_next/static/chunks/af8fbb5d7098e754.js
  pkg/microservice/ui-nextjs/out/_next/static/yOmCnuNOrRTxqZhRKq0nS/_buildManifest.js
  pkg/microservice/ui-nextjs/out/_next/static/yOmCnuNOrRTxqZhRKq0nS/_clientMiddlewareManifest.json
  pkg/microservice/ui-nextjs/out/_next/static/yOmCnuNOrRTxqZhRKq0nS/_ssgManifest.js
  pkg/microservice/ui-nextjs/out/_not-found.html
  pkg/microservice/ui-nextjs/out/_not-found.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._full.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._index.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._not-found.__PAGE__.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._not-found.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._tree.txt
  pkg/microservice/ui-nextjs/out/index.html
  pkg/microservice/ui-nextjs/out/index.txt
  pkg/microservice/ui-nextjs/types/agent.ts
  pkg/microservice/ui_server.go
  pkg/microservice/ui_trace_collector.go
  pkg/microservice/ui_trace_collector_test.go
Owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers

Fix Azure OpenAI streaming tool call tracing and message validation
  pkg/llm/azureopenai/message_history.go
  pkg/llm/azureopenai/streaming.go
  pkg/tracing/traced_llm.go
Owners: @Ingenimax/go-reviewers

Update UI trace detail viewer and build artifacts
  pkg/microservice/ui-nextjs/components/traces/trace-detail-viewer.tsx
  pkg/microservice/ui-nextjs/out/404.html
  pkg/microservice/ui-nextjs/out/__next.__PAGE__.txt
  pkg/microservice/ui-nextjs/out/__next._full.txt
  pkg/microservice/ui-nextjs/out/__next._index.txt
  pkg/microservice/ui-nextjs/out/__next._tree.txt
  pkg/microservice/ui-nextjs/out/_next/static/5xs6CW_JEKZtnY9q4vHG-/_buildManifest.js
  pkg/microservice/ui-nextjs/out/_next/static/5xs6CW_JEKZtnY9q4vHG-/_clientMiddlewareManifest.json
  pkg/microservice/ui-nextjs/out/_next/static/5xs6CW_JEKZtnY9q4vHG-/_ssgManifest.js
  pkg/microservice/ui-nextjs/out/_next/static/chunks/0e2af58ddfd9457b.js
  pkg/microservice/ui-nextjs/out/_next/static/chunks/a39697ca29c93345.css
  pkg/microservice/ui-nextjs/out/_next/static/chunks/d7c0d7afe2c00170.css
  pkg/microservice/ui-nextjs/out/_not-found.html
  pkg/microservice/ui-nextjs/out/_not-found.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._full.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._index.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._not-found.__PAGE__.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._not-found.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._tree.txt
  pkg/microservice/ui-nextjs/out/index.html
  pkg/microservice/ui-nextjs/out/index.txt
Owners: @Ingenimax/maintainers

fix lint
  pkg/microservice/ui_trace_collector_test.go
  pkg/tracing/traced_llm.go
Owners: @Ingenimax/go-reviewers

remove unused code
  pkg/microservice/ui_trace_collector_test.go
Owners: @Ingenimax/go-reviewers

implement getOrgID and getConvID methods
  pkg/microservice/ui_trace_collector.go
Owners: @Ingenimax/go-reviewers

Adjustment
  pkg/microservice/ui_trace_collector.go
Owners: @Ingenimax/go-reviewers

get theme from system
  docs/agent_ui.md
  pkg/microservice/ui-nextjs/components/layout/main-layout.tsx
  pkg/microservice/ui-nextjs/components/screens/settings-screen.tsx
  pkg/microservice/ui-nextjs/out/404.html
  pkg/microservice/ui-nextjs/out/__next.__PAGE__.txt
  pkg/microservice/ui-nextjs/out/__next._full.txt
  pkg/microservice/ui-nextjs/out/__next._index.txt
  pkg/microservice/ui-nextjs/out/__next._tree.txt
  pkg/microservice/ui-nextjs/out/_next/static/chunks/0e2af58ddfd9457b.js
  pkg/microservice/ui-nextjs/out/_next/static/chunks/89379a5a301bcb98.css
  pkg/microservice/ui-nextjs/out/_next/static/chunks/d7c0d7afe2c00170.css
  pkg/microservice/ui-nextjs/out/_next/static/chunks/ff1283aadadeae04.js
  pkg/microservice/ui-nextjs/out/_next/static/xoC9vsJods2xlXQiEl7Gv/_buildManifest.js
  pkg/microservice/ui-nextjs/out/_next/static/xoC9vsJods2xlXQiEl7Gv/_clientMiddlewareManifest.json
  pkg/microservice/ui-nextjs/out/_next/static/xoC9vsJods2xlXQiEl7Gv/_ssgManifest.js
  pkg/microservice/ui-nextjs/out/_not-found.html
  pkg/microservice/ui-nextjs/out/_not-found.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._full.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._index.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._not-found.__PAGE__.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._not-found.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._tree.txt
  pkg/microservice/ui-nextjs/out/index.html
  pkg/microservice/ui-nextjs/out/index.txt
  pkg/microservice/ui-nextjs/types/agent.ts
  pkg/microservice/ui_server.go
Owners: @Ingenimax/docs-team, @Ingenimax/maintainers, @Ingenimax/go-reviewers

Add traces UI (#225)
  docs/agent_ui.md
  pkg/llm/azureopenai/message_history.go
  pkg/llm/azureopenai/streaming.go
  pkg/microservice/ui-nextjs/components/layout/main-layout.tsx
  pkg/microservice/ui-nextjs/components/layout/sidebar.tsx
  pkg/microservice/ui-nextjs/components/screens/settings-screen.tsx
  pkg/microservice/ui-nextjs/components/screens/traces-screen.tsx
  pkg/microservice/ui-nextjs/components/traces/trace-detail-viewer.tsx
  pkg/microservice/ui-nextjs/components/ui/table.tsx
  pkg/microservice/ui-nextjs/lib/api.ts
  pkg/microservice/ui-nextjs/out/404.html
  pkg/microservice/ui-nextjs/out/__next.__PAGE__.txt
  pkg/microservice/ui-nextjs/out/__next._full.txt
  pkg/microservice/ui-nextjs/out/__next._index.txt
  pkg/microservice/ui-nextjs/out/__next._tree.txt
  pkg/microservice/ui-nextjs/out/_next/static/chunks/5c86f2fd0d1ed9fe.css
  pkg/microservice/ui-nextjs/out/_next/static/chunks/89379a5a301bcb98.css
  pkg/microservice/ui-nextjs/out/_next/static/chunks/af8fbb5d7098e754.js
  pkg/microservice/ui-nextjs/out/_next/static/chunks/ff1283aadadeae04.js
  pkg/microservice/ui-nextjs/out/_next/static/xoC9vsJods2xlXQiEl7Gv/_buildManifest.js
  pkg/microservice/ui-nextjs/out/_next/static/xoC9vsJods2xlXQiEl7Gv/_clientMiddlewareManifest.json
  pkg/microservice/ui-nextjs/out/_next/static/xoC9vsJods2xlXQiEl7Gv/_ssgManifest.js
  pkg/microservice/ui-nextjs/out/_not-found.html
  pkg/microservice/ui-nextjs/out/_not-found.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._full.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._index.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._not-found.__PAGE__.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._not-found.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._tree.txt
  pkg/microservice/ui-nextjs/out/index.html
  pkg/microservice/ui-nextjs/out/index.txt
  pkg/microservice/ui-nextjs/types/agent.ts
  pkg/microservice/ui_server.go
  pkg/microservice/ui_trace_collector.go
  pkg/microservice/ui_trace_collector_test.go
  pkg/tracing/traced_llm.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers, @Ingenimax/maintainers

refactor: improve trace detail viewer UI layout and visibility
  pkg/microservice/ui-nextjs/components/traces/trace-detail-viewer.tsx
  pkg/microservice/ui-nextjs/out/404.html
  pkg/microservice/ui-nextjs/out/__next.__PAGE__.txt
  pkg/microservice/ui-nextjs/out/__next._full.txt
  pkg/microservice/ui-nextjs/out/__next._index.txt
  pkg/microservice/ui-nextjs/out/__next._tree.txt
  pkg/microservice/ui-nextjs/out/_next/static/chunks/06a18e23e7e77871.css
  pkg/microservice/ui-nextjs/out/_next/static/chunks/89379a5a301bcb98.css
  pkg/microservice/ui-nextjs/out/_next/static/chunks/dfa889d756f43591.js
  pkg/microservice/ui-nextjs/out/_next/static/chunks/ff1283aadadeae04.js
  pkg/microservice/ui-nextjs/out/_next/static/wcS-IQm8gBQXzBUd7-kGh/_buildManifest.js
  pkg/microservice/ui-nextjs/out/_next/static/wcS-IQm8gBQXzBUd7-kGh/_clientMiddlewareManifest.json
  pkg/microservice/ui-nextjs/out/_next/static/wcS-IQm8gBQXzBUd7-kGh/_ssgManifest.js
  pkg/microservice/ui-nextjs/out/_not-found.html
  pkg/microservice/ui-nextjs/out/_not-found.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._full.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._index.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._not-found.__PAGE__.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._not-found.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._tree.txt
  pkg/microservice/ui-nextjs/out/index.html
  pkg/microservice/ui-nextjs/out/index.txt
Owners: @Ingenimax/maintainers

refactor: improve trace detail viewer UI layout and visibility (#226)
  pkg/microservice/ui-nextjs/components/traces/trace-detail-viewer.tsx
  pkg/microservice/ui-nextjs/out/404.html
  pkg/microservice/ui-nextjs/out/__next.__PAGE__.txt
  pkg/microservice/ui-nextjs/out/__next._full.txt
  pkg/microservice/ui-nextjs/out/__next._index.txt
  pkg/microservice/ui-nextjs/out/__next._tree.txt
  pkg/microservice/ui-nextjs/out/_next/static/chunks/06a18e23e7e77871.css
  pkg/microservice/ui-nextjs/out/_next/static/chunks/89379a5a301bcb98.css
  pkg/microservice/ui-nextjs/out/_next/static/chunks/dfa889d756f43591.js
  pkg/microservice/ui-nextjs/out/_next/static/chunks/ff1283aadadeae04.js
  pkg/microservice/ui-nextjs/out/_next/static/wcS-IQm8gBQXzBUd7-kGh/_buildManifest.js
  pkg/microservice/ui-nextjs/out/_next/static/wcS-IQm8gBQXzBUd7-kGh/_clientMiddlewareManifest.json
  pkg/microservice/ui-nextjs/out/_next/static/wcS-IQm8gBQXzBUd7-kGh/_ssgManifest.js
  pkg/microservice/ui-nextjs/out/_not-found.html
  pkg/microservice/ui-nextjs/out/_not-found.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._full.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._index.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._not-found.__PAGE__.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._not-found.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._tree.txt
  pkg/microservice/ui-nextjs/out/index.html
  pkg/microservice/ui-nextjs/out/index.txt
Owners: @Ingenimax/maintainers

add padding + fix model name
  pkg/microservice/ui-nextjs/components/screens/traces-screen.tsx
  pkg/microservice/ui-nextjs/out/404.html
  pkg/microservice/ui-nextjs/out/__next.__PAGE__.txt
  pkg/microservice/ui-nextjs/out/__next._full.txt
  pkg/microservice/ui-nextjs/out/__next._index.txt
  pkg/microservice/ui-nextjs/out/__next._tree.txt
  pkg/microservice/ui-nextjs/out/_next/static/WsDugtuvOInQM0VZ-aNvY/_buildManifest.js
  pkg/microservice/ui-nextjs/out/_next/static/WsDugtuvOInQM0VZ-aNvY/_clientMiddlewareManifest.json
  pkg/microservice/ui-nextjs/out/_next/static/WsDugtuvOInQM0VZ-aNvY/_ssgManifest.js
  pkg/microservice/ui-nextjs/out/_next/static/chunks/6e620c56c1b45986.js
  pkg/microservice/ui-nextjs/out/_not-found.html
  pkg/microservice/ui-nextjs/out/_not-found.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._full.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._index.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._not-found.__PAGE__.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._not-found.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._tree.txt
  pkg/microservice/ui-nextjs/out/index.html
  pkg/microservice/ui-nextjs/out/index.txt
  pkg/tracing/traced_llm.go
Owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers

add padding + fix model name (#227)
  pkg/microservice/ui-nextjs/components/screens/traces-screen.tsx
  pkg/microservice/ui-nextjs/out/404.html
  pkg/microservice/ui-nextjs/out/__next.__PAGE__.txt
  pkg/microservice/ui-nextjs/out/__next._full.txt
  pkg/microservice/ui-nextjs/out/__next._index.txt
  pkg/microservice/ui-nextjs/out/__next._tree.txt
  pkg/microservice/ui-nextjs/out/_next/static/WsDugtuvOInQM0VZ-aNvY/_buildManifest.js
  pkg/microservice/ui-nextjs/out/_next/static/WsDugtuvOInQM0VZ-aNvY/_clientMiddlewareManifest.json
  pkg/microservice/ui-nextjs/out/_next/static/WsDugtuvOInQM0VZ-aNvY/_ssgManifest.js
  pkg/microservice/ui-nextjs/out/_next/static/chunks/6e620c56c1b45986.js
  pkg/microservice/ui-nextjs/out/_not-found.html
  pkg/microservice/ui-nextjs/out/_not-found.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._full.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._index.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._not-found.__PAGE__.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._not-found.txt
  pkg/microservice/ui-nextjs/out/_not-found/__next._tree.txt
  pkg/microservice/ui-nextjs/out/index.html
  pkg/microservice/ui-nextjs/out/index.txt
  pkg/tracing/traced_llm.go
Owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers

Fix execution plan tool parameter handling
  pkg/executionplan/executor.go
  pkg/executionplan/executor_test.go
Owners: @Ingenimax/go-reviewers

fix: prevent duplicate tool calls in streaming mode (#223)
  pkg/llm/anthropic/streaming.go
Owners: @Ingenimax/go-reviewers

Fix execution plan tool parameter handling (#228)
  pkg/executionplan/executor.go
  pkg/executionplan/executor_test.go
Owners: @Ingenimax/go-reviewers

feat: add comprehensive token usage tracking across all LLM providers
  README.md
  docs/token-usage-tracking-plan.md
  examples/token-usage/README.md
  examples/token-usage/go.mod
  examples/token-usage/go.sum
  examples/token-usage/main.go
  pkg/agent/auto_config_test.go
  pkg/agent/custom_functions_test.go
  pkg/agent/json_summarization_test.go
  pkg/agent/subagent_test.go
  pkg/agent/tool_memory_test.go
  pkg/interfaces/llm.go
  pkg/llm/anthropic/client.go
  pkg/llm/azureopenai/client.go
  pkg/llm/gemini/client.go
  pkg/llm/ollama/client.go
  pkg/llm/openai/client.go
  pkg/llm/vllm/client.go
  pkg/memory/redis_memory_test.go
  pkg/microservice/http_server_test.go
  pkg/tracing/traced_llm.go
Owners: @Ingenimax/docs-team, @Ingenimax/maintainers, @Ingenimax/go-reviewers

Add comprehensive token usage tracking and enhanced span logging for streaming operations
  examples/agent-token-usage-simple/README.md
  examples/agent-token-usage-simple/main.go
  examples/agent-token-usage/README.md
  pkg/agent/agent.go
  pkg/agent/agent_detailed_test.go
  pkg/agent/streaming.go
  pkg/agent/usage_tracker.go
  pkg/interfaces/agent.go
  pkg/llm/anthropic/client.go
  pkg/microservice/http_server.go
  pkg/microservice/ui_server.go
  pkg/tools/agent_tool.go
  pkg/tools/agent_tool_test.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

rename doc
  docs/token-usage-tracking.md
Owners: @Ingenimax/docs-team

remove executable
  CLAUDE.md
  examples/agent-token-usage/README.md
Owners: @Ingenimax/docs-team

adding intermediate-messages-streaming.md
  docs/intermediate-messages-streaming.md
Owners: @Ingenimax/docs-team

Add JSON logging support via environment variables
  docs/environment_variables.md
  env.example
  examples/logging/README.md
  examples/logging/main.go
  pkg/logging/logger.go
Owners: @Ingenimax/docs-team, @Ingenimax/maintainers, @Ingenimax/go-reviewers

feat: enhance MCP implementation with simplified configuration and improved developer experience
  docs/mcp-guide.md
  examples/mcp/quickstart/README.md
  examples/mcp/quickstart/builder.go
  examples/mcp/quickstart/presets.go
  examples/mcp/quickstart/simple.go
  pkg/agent/agent.go
  pkg/mcp/builder.go
  pkg/mcp/errors.go
  pkg/mcp/mcp.go
  pkg/mcp/presets.go
  pkg/mcp/retry.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

Add JSON logging support via environment variables (#234)
  docs/environment_variables.md
  env.example
  examples/logging/README.md
  examples/logging/main.go
  pkg/logging/logger.go
Owners: @Ingenimax/docs-team, @Ingenimax/maintainers, @Ingenimax/go-reviewers

feat: complete MCP implementation with production-ready features and clean examples
  docs/mcp_prompts.md
  docs/mcp_resources.md
  docs/mcp_sampling.md
  docs/mcp_schemas.md
  examples/agent/embedded_mcp_config.yaml
  examples/agent/run_embedded_mcp_example.go
  examples/agent/simple_agent_mcp.yaml
  examples/mcp/exported_devops_config.json
  examples/mcp/mcp_config_example.json
  examples/mcp/mcp_config_example.yaml
  examples/mcp/standalone_mcp_config.yaml
  examples/mcp/standalone_mcp_config_example.go
  pkg/agent/agent.go
  pkg/agent/config.go
  pkg/agent/mcp_config.go
  pkg/interfaces/mcp.go
  pkg/mcp/lazy.go
  pkg/mcp/mcp.go
  pkg/mcp/prompts.go
  pkg/mcp/registry.go
  pkg/mcp/resources.go
  pkg/mcp/retry.go
  pkg/mcp/sampling.go
  pkg/mcp/schemas.go
Owners: @Ingenimax/docs-team, @Ingenimax/maintainers, @Ingenimax/go-reviewers

feat: add comprehensive token usage tracking across all LLM providers (#229)
  CLAUDE.md
  README.md
  docs/token-usage-tracking.md
  examples/agent-token-usage-simple/README.md
  examples/agent-token-usage-simple/main.go
  examples/token-usage/README.md
  examples/token-usage/go.mod
  examples/token-usage/go.sum
  examples/token-usage/main.go
  pkg/agent/agent.go
  pkg/agent/agent_detailed_test.go
  pkg/agent/auto_config_test.go
  pkg/agent/custom_functions_test.go
  pkg/agent/json_summarization_test.go
  pkg/agent/streaming.go
  pkg/agent/subagent_test.go
  pkg/agent/tool_memory_test.go
  pkg/agent/usage_tracker.go
  pkg/interfaces/agent.go
  pkg/interfaces/llm.go
  pkg/llm/anthropic/client.go
  pkg/llm/azureopenai/client.go
  pkg/llm/gemini/client.go
  pkg/llm/ollama/client.go
  pkg/llm/openai/client.go
  pkg/llm/vllm/client.go
  pkg/memory/redis_memory_test.go
  pkg/microservice/http_server.go
  pkg/microservice/http_server_test.go
  pkg/microservice/ui_server.go
  pkg/tools/agent_tool.go
  pkg/tools/agent_tool_test.go
  pkg/tracing/traced_llm.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers, @Ingenimax/maintainers

adjustments
  examples/mcp/quickstart/builder/main.go
  examples/mcp/quickstart/presets/main.go
  examples/mcp/quickstart/simple/main.go
  pkg/agent/mcp_config.go
  pkg/mcp/builder.go
  pkg/mcp/errors.go
  pkg/mcp/lazy.go
  pkg/mcp/mcp.go
  pkg/mcp/presets.go
  pkg/mcp/prompts.go
  pkg/mcp/registry.go
  pkg/mcp/resources.go
  pkg/mcp/retry.go
  pkg/mcp/sampling.go
  pkg/mcp/schemas.go
Owners: @Ingenimax/go-reviewers

feat: add PostgreSQL DataStore implementation with comprehensive documentation
  README.md
  docs/datastore.md
  examples/datastore/README.md
  examples/datastore/postgres/README.md
  examples/datastore/postgres/main.go
  examples/datastore/supabase/README.md
  examples/datastore/supabase/main.go
  pkg/datastore/postgres/README.md
  pkg/datastore/postgres/postgres.go
  pkg/datastore/postgres/postgres_test.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

Add tests, fix config mcp, fix examples
  examples/agent/embedded_mcp_config.yaml
  examples/agent/run_embedded_mcp_example.go
  examples/mcp/mcp_config_example.json
  examples/mcp/mcp_config_example.yaml
  examples/mcp/quickstart/builder/main.go
  examples/mcp/quickstart/presets/main.go
  examples/mcp/quickstart/simple/main.go
  examples/mcp/standalone_mcp_config.yaml
  examples/mcp/standalone_mcp_config_example.go
  examples/ui/main.go
  pkg/agent/agent.go
  pkg/agent/mcp_config.go
  pkg/executionplan/executor_test.go
  pkg/interfaces/mcp.go
  pkg/mcp/builder.go
  pkg/mcp/builder_test.go
  pkg/mcp/errors.go
  pkg/mcp/errors_test.go
  pkg/mcp/lazy.go
  pkg/mcp/mcp.go
  pkg/mcp/metadata_test.go
  pkg/mcp/presets_test.go
  pkg/mcp/prompts_test.go
  pkg/mcp/registry_test.go
  pkg/mcp/resources_test.go
  pkg/mcp/retry.go
  pkg/mcp/retry_test.go
  pkg/mcp/sampling_test.go
  pkg/mcp/schemas.go
  pkg/mcp/schemas_test.go
  pkg/microservice/ui_server.go
  pkg/microservice/ui_trace_collector.go
  pkg/microservice/ui_trace_collector_test.go
Owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers

fix lint
  pkg/agent/agent.go
  pkg/mcp/builder_test.go
  pkg/mcp/errors_test.go
  pkg/mcp/presets_test.go
  pkg/mcp/prompts_test.go
  pkg/mcp/registry_test.go
  pkg/mcp/resources_test.go
  pkg/mcp/retry_test.go
  pkg/mcp/sampling_test.go
  pkg/mcp/schemas_test.go
Owners: @Ingenimax/go-reviewers

feat: add PostgreSQL DataStore implementation with comprehensive documentation (#236)
  README.md
  docs/datastore.md
  examples/datastore/README.md
  examples/datastore/postgres/README.md
  examples/datastore/postgres/main.go
  examples/datastore/supabase/README.md
  examples/datastore/supabase/main.go
  pkg/datastore/postgres/README.md
  pkg/datastore/postgres/postgres.go
  pkg/datastore/postgres/postgres_test.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

feat: add manual version input to release workflow
  .github/workflows/release.yml
Owners: @Ingenimax/engineering

fix lint
  pkg/agent/agent.go
  pkg/agent/streaming.go
  pkg/agent/usage_tracker.go
  pkg/mcp/errors.go
  pkg/mcp/registry.go
Owners: @Ingenimax/go-reviewers

fix sec issue
  pkg/agent/mcp_config.go
Owners: @Ingenimax/go-reviewers

fix issue
  pkg/mcp/errors.go
Owners: @Ingenimax/go-reviewers

formatting issues
  examples/agent-token-usage-simple/main.go
  pkg/agent/agent_detailed_test.go
  pkg/interfaces/agent.go
  pkg/llm/anthropic/client.go
  pkg/mcp/metadata_test.go
  pkg/mcp/resources_test.go
  pkg/mcp/retry_test.go
  pkg/microservice/http_server.go
  pkg/microservice/ui_server.go
  pkg/tools/agent_tool.go
Owners: @Ingenimax/go-reviewers

lint fix
  pkg/mcp/builder.go
  pkg/mcp/presets.go
  pkg/mcp/presets_test.go
Owners: @Ingenimax/go-reviewers

feat: add deployment configuration management from StarOps Config Service
  examples/deployment_config/README.md
  examples/deployment_config/go.mod
  examples/deployment_config/go.sum
  examples/deployment_config/main.go
  pkg/agentconfig/client.go
  pkg/agentconfig/loader.go
  pkg/agentconfig/models.go
  pkg/agentsdk.go
  pkg/config/config.go
Owners: @Ingenimax/docs-team, @Ingenimax/maintainers, @Ingenimax/go-reviewers

feat: update dependencies and improve code formatting
  examples/agent-token-usage-simple/main.go
  examples/ui/main.go
  go.mod
  go.sum
  pkg/agent/agent.go
  pkg/agent/agent_detailed_test.go
  pkg/agent/streaming.go
  pkg/agent/usage_tracker.go
  pkg/agentconfig/client.go
  pkg/agentconfig/loader.go
  pkg/agentconfig/models.go
  pkg/executionplan/executor_test.go
  pkg/interfaces/agent.go
  pkg/llm/anthropic/client.go
  pkg/microservice/http_server.go
  pkg/microservice/ui_server.go
  pkg/microservice/ui_trace_collector.go
  pkg/microservice/ui_trace_collector_test.go
  pkg/tools/agent_tool.go
Owners: @Ingenimax/go-reviewers, @Ingenimax/maintainers

feat: add deployment configuration management from StarOps Config Service (#237)
  examples/deployment_config/README.md
  examples/deployment_config/go.mod
  examples/deployment_config/go.sum
  examples/deployment_config/main.go
  go.mod
  go.sum
  pkg/agentconfig/client.go
  pkg/agentconfig/loader.go
  pkg/agentconfig/models.go
  pkg/agentsdk.go
  pkg/config/config.go
Owners: @Ingenimax/docs-team, @Ingenimax/maintainers, @Ingenimax/go-reviewers
