Repository Ingenimax/agent-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers, @Ingenimax/engineering, @Ingenimax/docs-team, @Ingenimax/security-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
*       @Ingenimax/maintainers

# Go source files
*.go    @Ingenimax/go-reviewers

# CI/CD and GitHub Actions
.github/workflows/    @Ingenimax/engineering

# Documentation
/docs/               @Ingenimax/docs-team
*.md                 @Ingenimax/docs-team

# Security-related files
SECURITY.md          @Ingenimax/security-team

fix: restore G703 to nosec comment in llm_factory.go
  pkg/agent/llm_factory.go
Owners: @Ingenimax/go-reviewers

fix: use filepath.Clean to resolve gosec G304 in llm_factory.go
  pkg/agent/llm_factory.go
Owners: @Ingenimax/go-reviewers

fix: resolve staticcheck QF1012 in executionplan package
  pkg/executionplan/executionplan.go
Owners: @Ingenimax/go-reviewers

fix: bump vulnerable dependencies
  go.mod
  go.sum
Owners: @Ingenimax/maintainers

fix: resolve staticcheck QF1012 in memory package
  pkg/memory/conversation_summary.go
  pkg/memory/inline_history.go
Owners: @Ingenimax/go-reviewers

fix: resolve staticcheck QF1012 in custom_functions and websearch
  examples/custom_functions/main.go
  pkg/tools/websearch/websearch.go
Owners: @Ingenimax/go-reviewers

fix: resolve all remaining staticcheck QF1012 findings
  examples/custom_functions/main.go
  examples/llm/gemini/main.go
  pkg/executionplan/executionplan.go
  pkg/graphrag/weaviate/extraction.go
  pkg/memory/redis_memory.go
  pkg/orchestration/handoff.go
  pkg/orchestration/llm_orchestrator.go
  pkg/prompts/template.go
  pkg/tools/huggingface/huggingface.go
Owners: @Ingenimax/go-reviewers

fix: thread CacheConfig through streaming tool-calling path
  pkg/llm/anthropic/streaming.go
Owners: @Ingenimax/go-reviewers

feat: add prompt caching support for Anthropic Bedrock
  pkg/llm/anthropic/bedrock.go
  pkg/llm/anthropic/client.go
  pkg/llm/anthropic/streaming.go
Owners: @Ingenimax/go-reviewers

feat: thread CacheConfig through Agent layer for prompt caching
  pkg/agent/agent.go
  pkg/agent/config.go
  pkg/agent/streaming.go
Owners: @Ingenimax/go-reviewers

feat: add Langfuse content tracing and session ID support (#221, #208)
  pkg/config/config.go
  pkg/tracing/langfuse.go
  pkg/tracing/otel_langfuse.go
  pkg/tracing/traced_llm.go
Owners: @Ingenimax/go-reviewers

feat: add WithDisableFinalSummary option to skip final LLM call (#230)
  pkg/agent/agent.go
  pkg/agent/config.go
  pkg/interfaces/llm.go
  pkg/llm/anthropic/client.go
  pkg/llm/anthropic/streaming.go
  pkg/llm/azureopenai/client.go
  pkg/llm/azureopenai/streaming.go
  pkg/llm/deepseek/streaming.go
  pkg/llm/gemini/client.go
  pkg/llm/gemini/streaming.go
  pkg/llm/openai/client.go
  pkg/llm/openai/streaming.go
Owners: @Ingenimax/go-reviewers

Handling union of types in tool parameter
  pkg/interfaces/tool.go
  pkg/mcp/lazy.go
  pkg/mcp/tool.go
Owners: @Ingenimax/go-reviewers

Updated MCP SDK version to address vulnerabilities
  go.mod
  go.sum
Owners: @Ingenimax/maintainers

fix(openai): omit invalid zero top_p in generate requests (fixes #282)
  pkg/llm/openai/client.go
  pkg/llm/openai/client_test.go
Owners: @Ingenimax/go-reviewers

Handling union of types in tool parameter (#303)
  go.mod
  go.sum
  pkg/interfaces/tool.go
  pkg/mcp/lazy.go
  pkg/mcp/tool.go
Owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers

Added support for security schemes in A2A Agent Card
  pkg/a2a/agent_card.go
  pkg/a2a/agent_card_test.go
  pkg/a2a/options.go
Owners: @Ingenimax/go-reviewers

Fixed vulnerability
  go.mod
  go.sum
Owners: @Ingenimax/maintainers

Added support for security schemes in A2A Agent Card (#309)
  go.mod
  go.sum
  pkg/a2a/agent_card.go
  pkg/a2a/agent_card_test.go
  pkg/a2a/options.go
Owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers

ci: bump Go version to 1.24 to match go.mod
  .github/workflows/ci.yml
Owners: @Ingenimax/engineering

ci: install Go 1.25 directly to avoid missing covdata in auto-downloaded toolchain
  .github/workflows/ci.yml
Owners: @Ingenimax/engineering

Support for custom MCP transport in Agent framework
  examples/mcp/custom-transport/main.go
  pkg/mcp/lazy.go
  pkg/mcp/mcp.go
Owners: @Ingenimax/go-reviewers

Removed function
  pkg/mcp/lazy.go
Owners: @Ingenimax/go-reviewers

Added error handling
  examples/mcp/custom-transport/main.go
Owners: @Ingenimax/go-reviewers

pkg/mcp: guard stderr buffer in NewStdioServerWithRetry against concurrent writes
  pkg/mcp/mcp.go
Owners: @Ingenimax/go-reviewers

llm/{openai,azureopenai}: drop the 40-char tool_call_id length guard that loses tool results
  pkg/llm/azureopenai/streaming.go
  pkg/llm/openai/streaming.go
Owners: @Ingenimax/go-reviewers

agent: don't re-collect MCP tools on every Run / streaming call
  pkg/agent/agent.go
  pkg/agent/streaming.go
Owners: @Ingenimax/go-reviewers

structuredoutput: skip fields tagged json:"-" when building the schema
  pkg/structuredoutput/utils.go
Owners: @Ingenimax/go-reviewers

agent/streaming: guard every eventChan send against context cancel
  pkg/agent/streaming.go
Owners: @Ingenimax/go-reviewers

openai/streaming: drop 40-char tool_call_id guard that breaks vLLM etc.
  pkg/llm/openai/streaming.go
Owners: @Ingenimax/go-reviewers

Fix Gemini tool declarations dropping array `items` end-to-end (#318)
  pkg/llm/gemini/client.go
  pkg/llm/gemini/streaming.go
  pkg/llm/gemini/tools.go
  pkg/llm/gemini/tools_test.go
  pkg/mcp/lazy.go
  pkg/mcp/tool.go
  pkg/mcp/tool_test.go
Owners: @Ingenimax/go-reviewers

fix(agent): deduplicate MCP tools before sending to LLM
  pkg/agent/agent.go
  pkg/agent/streaming.go
Owners: @Ingenimax/go-reviewers

fix(deps): bump go-sdk and grpc to patch vulns; require Go 1.25
  .github/workflows/ci.yml
  go.mod
  go.sum
Owners: @Ingenimax/engineering, @Ingenimax/maintainers

fix(lint): use reflect.Pointer instead of deprecated reflect.Ptr
  pkg/structuredoutput/utils.go
Owners: @Ingenimax/go-reviewers

pkg/mcp: guard stderr buffer in NewStdioServerWithRetry against concurrent writes (#312)
  pkg/mcp/mcp.go
Owners: @Ingenimax/go-reviewers

structuredoutput: skip fields tagged json:"-" when building the schema (#315)
  pkg/structuredoutput/utils.go
Owners: @Ingenimax/go-reviewers

agent/streaming: guard every eventChan send against context cancel (#316)
  pkg/agent/streaming.go
Owners: @Ingenimax/go-reviewers

fix(openai): omit invalid zero top_p in generate requests (fixes #282)
  pkg/llm/openai/client.go
  pkg/llm/openai/client_test.go
Owners: @Ingenimax/go-reviewers

fix(openai): omit invalid zero top_p in generate requests (fixes #282) (#321)
  pkg/llm/openai/client.go
  pkg/llm/openai/client_test.go
Owners: @Ingenimax/go-reviewers

fix(agent): deduplicate MCP tools before sending to LLM (#320)
  pkg/agent/agent.go
  pkg/agent/streaming.go
Owners: @Ingenimax/go-reviewers
