Repository Ingenimax/agent-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers, @Ingenimax/engineering, @Ingenimax/docs-team, @Ingenimax/security-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
*       @Ingenimax/maintainers

# Go source files
*.go    @Ingenimax/go-reviewers

# CI/CD and GitHub Actions
.github/workflows/    @Ingenimax/engineering

# Documentation
/docs/               @Ingenimax/docs-team
*.md                 @Ingenimax/docs-team

# Security-related files
SECURITY.md          @Ingenimax/security-team

fix context cancel issue
  pkg/agent/agent.go
  pkg/grpc/client/remote_agent.go
Owners: @Ingenimax/go-reviewers

Remove log
  pkg/llm/anthropic/client.go
Owners: @Ingenimax/go-reviewers

go mod tidy
  go.mod
Owners: @Ingenimax/maintainers

feat: add json logging switch
  examples/logging/README.md
  examples/logging/main.go
  pkg/logging/logger.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

fix(gemini): update credentials precedence test to enforce error on conflicting inputs
  examples/llm/gemini/README.md
  examples/llm/gemini/main.go
  pkg/llm/gemini/client.go
  pkg/llm/gemini/client_test.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

Add DisplayName and Internal params to Tools
  examples/advanced_agent_streaming/main.go
  examples/llm/gemini/main.go
  examples/streaming_intermediate_messages/main.go
  pkg/agent/custom_functions_test.go
  pkg/agent/streaming.go
  pkg/agent/tool_memory_test.go
  pkg/grpc/client/remote_agent.go
  pkg/grpc/pb/agent.pb.go
  pkg/grpc/pb/agent_grpc.pb.go
  pkg/grpc/proto/agent.proto
  pkg/grpc/server/agent_server.go
  pkg/interfaces/memory.go
  pkg/interfaces/streaming.go
  pkg/interfaces/tool.go
  pkg/llm/gemini/client_test.go
  pkg/llm/ollama/client_test.go
  pkg/llm/openai/client_test.go
  pkg/mcp/adapters.go
  pkg/mcp/lazy.go
  pkg/mcp/tool.go
  pkg/microservice/factory.go
  pkg/tools/agent_tool.go
  pkg/tools/calculator/calculator.go
  pkg/tools/github/github_content_extractor.go
  pkg/tools/huggingface/huggingface.go
  pkg/tools/websearch/websearch.go
Owners: @Ingenimax/go-reviewers, @Ingenimax/maintainers

fix issues
  pkg/grpc/pb/agent.pb.go
Owners: @Ingenimax/go-reviewers

Add new sonnet 4.5 model to supported thinking
  pkg/llm/anthropic/client.go
Owners: @Ingenimax/go-reviewers

add missing name
  pkg/llm/anthropic/client.go
Owners: @Ingenimax/go-reviewers

fix langfuse streaming integration
  pkg/llm/anthropic/streaming.go
  pkg/tracing/langfuse.go
  pkg/tracing/otel_llm_middleware.go
Owners: @Ingenimax/go-reviewers

fix langfuse streaming integration (#192)
  pkg/llm/anthropic/streaming.go
  pkg/tracing/langfuse.go
  pkg/tracing/otel_llm_middleware.go
Owners: @Ingenimax/go-reviewers

fix global url for anthropic global
  pkg/llm/anthropic/vertex.go
Owners: @Ingenimax/go-reviewers

fix global url for anthropic global (#193)
  pkg/llm/anthropic/vertex.go
Owners: @Ingenimax/go-reviewers

fix(gemini): implement real streaming for GenerateWithToolsStream
  pkg/llm/gemini/streaming.go
Owners: @Ingenimax/go-reviewers

Adjustment in default timeouts / context cancelation fix
  pkg/llm/anthropic/client.go
  pkg/llm/anthropic/sse.go
  pkg/llm/anthropic/vertex.go
  pkg/microservice/factory.go
  pkg/tools/agent_tool.go
Owners: @Ingenimax/go-reviewers

Adjustment in default timeouts / context cancelation fix (#199)
  pkg/llm/anthropic/client.go
  pkg/llm/anthropic/sse.go
  pkg/llm/anthropic/vertex.go
  pkg/microservice/factory.go
  pkg/tools/agent_tool.go
Owners: @Ingenimax/go-reviewers

fix reasoning_effort for OpenAI
  pkg/llm/openai/client.go
  pkg/llm/openai/streaming.go
Owners: @Ingenimax/go-reviewers

fix reasoning_effort for Azure OpenAI
  pkg/llm/azureopenai/client.go
  pkg/llm/azureopenai/streaming.go
Owners: @Ingenimax/go-reviewers

add reasoning_effort tests
  pkg/llm/azureopenai/client_test.go
  pkg/llm/openai/client_test.go
Owners: @Ingenimax/go-reviewers

update docs
  docs/reasoning-models.md
Owners: @Ingenimax/docs-team

lint
  pkg/llm/azureopenai/client_test.go
  pkg/llm/openai/client_test.go
Owners: @Ingenimax/go-reviewers

update comment
  pkg/interfaces/llm.go
Owners: @Ingenimax/go-reviewers

fix: OpenAI reasoning effort (#201)
  docs/reasoning-models.md
  pkg/interfaces/llm.go
  pkg/llm/azureopenai/client.go
  pkg/llm/azureopenai/client_test.go
  pkg/llm/azureopenai/streaming.go
  pkg/llm/openai/client.go
  pkg/llm/openai/client_test.go
  pkg/llm/openai/streaming.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

fix(gemini): implement real streaming for GenerateWithToolsStream (#198)
  pkg/llm/gemini/streaming.go
Owners: @Ingenimax/go-reviewers

fix: handle conversation history in model-specific way
  pkg/agent/agent.go
  pkg/agent/format_test.go
  pkg/interfaces/memory.go
  pkg/llm/anthropic/client.go
  pkg/llm/anthropic/sse_test.go
  pkg/llm/gemini/client.go
  pkg/llm/gemini/client_test.go
  pkg/llm/ollama/client.go
  pkg/llm/ollama/client_test.go
  pkg/llm/openai/client.go
  pkg/llm/openai/client_test.go
  pkg/llm/vllm/client.go
  pkg/memory/conversation_buffer.go
  pkg/memory/inline_history.go
  pkg/memory/inline_history_test.go
  pkg/memory/redis_memory.go
  pkg/memory/vector_retriever.go
Owners: @Ingenimax/go-reviewers

fix: small improvements for history formatting
  pkg/llm/anthropic/client.go
  pkg/llm/anthropic/sse_test.go
  pkg/llm/gemini/client.go
  pkg/llm/gemini/client_test.go
  pkg/llm/openai/client.go
  pkg/llm/openai/client_test.go
Owners: @Ingenimax/go-reviewers

fix: unify message history formatting across the models
  examples/mcp/server-http/main.go
  pkg/agent/agent.go
  pkg/agent/integration_test.go
  pkg/agent/json_summarization_test.go
  pkg/llm/anthropic/client.go
  pkg/llm/anthropic/client_test.go
  pkg/llm/anthropic/message_history.go
  pkg/llm/anthropic/message_history_test.go
  pkg/llm/anthropic/sse.go
  pkg/llm/anthropic/sse_test.go
  pkg/llm/anthropic/streaming.go
  pkg/llm/azureopenai/client.go
  pkg/llm/azureopenai/message_history.go
  pkg/llm/azureopenai/message_history_test.go
  pkg/llm/azureopenai/streaming.go
  pkg/llm/gemini/client.go
  pkg/llm/gemini/message_history.go
  pkg/llm/gemini/message_history_test.go
  pkg/llm/gemini/streaming.go
  pkg/llm/openai/client.go
  pkg/llm/openai/message_history.go
  pkg/llm/openai/message_history_test.go
  pkg/llm/openai/streaming.go
Owners: @Ingenimax/go-reviewers

fix: build
  examples/mcp/server-http/main.go
  pkg/agent/json_summarization_test.go
  pkg/llm/anthropic/sse_test.go
Owners: @Ingenimax/go-reviewers

fix: handle conversation history in model-specific way (#191)
  pkg/agent/agent.go
  pkg/agent/format_test.go
  pkg/agent/integration_test.go
  pkg/agent/json_summarization_test.go
  pkg/interfaces/memory.go
  pkg/llm/anthropic/client.go
  pkg/llm/anthropic/client_test.go
  pkg/llm/anthropic/message_history.go
  pkg/llm/anthropic/message_history_test.go
  pkg/llm/anthropic/sse.go
  pkg/llm/anthropic/sse_test.go
  pkg/llm/anthropic/streaming.go
  pkg/llm/azureopenai/client.go
  pkg/llm/azureopenai/message_history.go
  pkg/llm/azureopenai/message_history_test.go
  pkg/llm/azureopenai/streaming.go
  pkg/llm/gemini/client.go
  pkg/llm/gemini/client_test.go
  pkg/llm/gemini/message_history.go
  pkg/llm/gemini/message_history_test.go
  pkg/llm/gemini/streaming.go
  pkg/llm/ollama/client.go
  pkg/llm/ollama/client_test.go
  pkg/llm/openai/client.go
  pkg/llm/openai/client_test.go
  pkg/llm/openai/message_history.go
  pkg/llm/openai/message_history_test.go
  pkg/llm/openai/streaming.go
  pkg/llm/vllm/client.go
  pkg/memory/conversation_buffer.go
  pkg/memory/inline_history.go
  pkg/memory/inline_history_test.go
  pkg/memory/redis_memory.go
  pkg/memory/vector_retriever.go
Owners: @Ingenimax/go-reviewers

chore(dependabot): standardize schedule + ecosystems
  .github/dependabot.yml
Owners: @Ingenimax/maintainers

chore(dependabot): standardize schedule + ecosystems (#209)
  .github/dependabot.yml
Owners: @Ingenimax/maintainers

update modelcontextprotocol/go-sdk to v1.0.0
  examples/mcp/server-http/main.go
  go.mod
  go.sum
Owners: @Ingenimax/go-reviewers, @Ingenimax/maintainers

update modelcontextprotocol/go-sdk to v1.0.0 (#211)
  examples/mcp/server-http/main.go
  go.mod
  go.sum
Owners: @Ingenimax/go-reviewers, @Ingenimax/maintainers

fix Makefile
  Makefile
Owners: @Ingenimax/maintainers

fix Makefile (#212)
  Makefile
Owners: @Ingenimax/maintainers

feat: add Go release workflow with GoReleaser
  .github/workflows/release.yml
  .goreleaser.yml
Owners: @Ingenimax/engineering, @Ingenimax/maintainers

fix: tracing improvements and unification
  docs/tracing.md
  examples/tracing/README.md
  examples/tracing/main.go
  examples/tracing/production_config.go
  pkg/tracing/langfuse.go
  pkg/tracing/llm_otel.go
  pkg/tracing/opentelemetry.go
  pkg/tracing/otel_llm_middleware.go
  pkg/tracing/traced_llm.go
  pkg/tracing/traced_memory.go
  pkg/tracing/utils.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

Added OTel Tracer wrapper API
  pkg/tracing/opentelemetry.go
Owners: @Ingenimax/go-reviewers

feat: add Go release workflow with GoReleaser (#213)
  .github/workflows/release.yml
  .goreleaser.yml
Owners: @Ingenimax/engineering, @Ingenimax/maintainers

fix: use built-in GITHUB_TOKEN instead of CI_GITHUB_TOKEN
  .github/workflows/release.yml
Owners: @Ingenimax/engineering
