Repository Ingenimax/agent-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers, @Ingenimax/engineering, @Ingenimax/docs-team, @Ingenimax/security-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
*       @Ingenimax/maintainers

# Go source files
*.go    @Ingenimax/go-reviewers

# CI/CD and GitHub Actions
.github/workflows/    @Ingenimax/engineering

# Documentation
/docs/               @Ingenimax/docs-team
*.md                 @Ingenimax/docs-team

# Security-related files
SECURITY.md          @Ingenimax/security-team

test(gemini): document executedAnyTool behavior for codecov coverage
  pkg/llm/gemini/streaming_test.go
Owners: @Ingenimax/go-reviewers

ci: set codecov patch target to 70% to allow integration-heavy PRs
  codecov.yml
Owners: @Ingenimax/maintainers

feat(llm): add Amazon Bedrock provider via Converse API
  go.mod
  pkg/llm/bedrock/client.go
  pkg/llm/bedrock/client_test.go
Owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers

fix(bedrock): retry without temperature/topP when model rejects them
  pkg/llm/bedrock/client.go
  pkg/llm/bedrock/client_test.go
Owners: @Ingenimax/go-reviewers

chore: delete pkg/workflow, an unreferenced stub that corrupted its own state
  pkg/workflow/workflow.go
Owners: @Ingenimax/go-reviewers

fix(anthropic): stop emitting an extended cache TTL the API never honored
  pkg/agent/config.go
  pkg/interfaces/llm.go
  pkg/llm/anthropic/cache.go
  pkg/llm/anthropic/cache_request.go
  pkg/llm/anthropic/cache_test.go
  pkg/llm/anthropic/client.go
Owners: @Ingenimax/go-reviewers

docs(interfaces): deprecate TaskExecutor, which has no satisfying implementation
  pkg/interfaces/task.go
  pkg/task/service/memory.go
Owners: @Ingenimax/go-reviewers

feat!: remove remote configuration loading and the RCE path it opened
  examples/deployment_config/README.md
  examples/deployment_config/go.mod
  examples/deployment_config/go.sum
  examples/deployment_config/main.go
  go.mod
  go.sum
  pkg/agentconfig/api.go
  pkg/agentconfig/client.go
  pkg/agentconfig/examples.go
  pkg/agentconfig/loader.go
  pkg/agentconfig/merge_test.go
  pkg/agentconfig/models.go
  pkg/agentconfig/no_remote_test.go
  pkg/agentconfig/unified_loader.go
  pkg/agentsdk.go
Owners: @Ingenimax/docs-team, @Ingenimax/maintainers, @Ingenimax/go-reviewers

fix(agent,tools): make cancellation reach sub-agents and role responses
  pkg/agent/agent.go
  pkg/agent/streaming.go
  pkg/tools/agent_tool.go
  pkg/tools/cancellation_test.go
Owners: @Ingenimax/go-reviewers

fix(agent): stop mutating shared state from the run path
  pkg/agent/agent.go
  pkg/agent/concurrency_test.go
  pkg/agent/streaming.go
Owners: @Ingenimax/go-reviewers

docs: document the new APIs, behaviour changes and removals
  README.md
  docs/config-merge.md
  docs/development.md
  docs/gemini-api.md
  docs/guardrails.md
  docs/llm-yaml-configuration.md
  docs/memory.md
  docs/subagents.md
  docs/token-usage-tracking.md
  docs/tool-pipeline.md
  docs/tools.md
  docs/tracing.md
  docs/unified-config-loader.md
  docs/upgrading.md
Owners: @Ingenimax/docs-team

fix(memory): stop decorators silently hiding memory capabilities
  pkg/agent/agent.go
  pkg/interfaces/memory.go
  pkg/tracing/traced_memory.go
  pkg/tracing/traced_memory_test.go
Owners: @Ingenimax/go-reviewers

docs(readme): list the new API surface in the New section
  README.md
Owners: @Ingenimax/docs-team

fix(agent): run input guardrails before persisting, and share the run preamble
  pkg/agent/agent.go
  pkg/agent/run_preamble.go
  pkg/agent/run_preamble_test.go
  pkg/agent/streaming.go
Owners: @Ingenimax/go-reviewers

fix(agent,tools): unify the two independent sub-agent recursion counters
  pkg/agent/concurrency_test.go
  pkg/agent/context.go
  pkg/tools/agent_tool.go
Owners: @Ingenimax/go-reviewers

fix(memory,agent): repair summarization data loss, dead trigger and tool counting
  pkg/agent/agent_detailed_test.go
  pkg/agent/usage_tracker.go
  pkg/memory/conversation_summary.go
  pkg/memory/conversation_summary_test.go
  pkg/memory/factory.go
Owners: @Ingenimax/go-reviewers

test: add internal/testutil with shared, concurrency-safe test doubles
  internal/testutil/fakes.go
  internal/testutil/fakes_test.go
  pkg/agent/concurrency_test.go
  pkg/agent/tool_pipeline_test.go
Owners: @Ingenimax/go-reviewers

chore(llm): make the tool loop's cancellation contract explicit
  pkg/llm/anthropic/client.go
  pkg/llm/azureopenai/client.go
  pkg/llm/bedrock/client.go
  pkg/llm/deepseek/client.go
  pkg/llm/gemini/client.go
  pkg/llm/openai/cancellation_test.go
  pkg/llm/openai/client.go
Owners: @Ingenimax/go-reviewers

feat(agent): one ordered tool-decorator pipeline across all three call sites
  pkg/agent/agent.go
  pkg/agent/streaming.go
  pkg/agent/tool_pipeline.go
  pkg/agent/tool_pipeline_test.go
  pkg/agent/tracking_tool.go
Owners: @Ingenimax/go-reviewers

docs: correct the guardrails gap -- it is wider than this PR claimed
  README.md
  docs/guardrails.md
  docs/upgrading.md
  pkg/agent/agent.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

fix(mcp): default to streamable HTTP, and implement the SSE fallback
  pkg/mcp/builder.go
  pkg/mcp/mcp.go
  pkg/mcp/transport_default_test.go
Owners: @Ingenimax/go-reviewers

fix(tools): stop executing streamed sub-agents twice
  pkg/agent/streaming.go
  pkg/interfaces/streaming.go
  pkg/tools/agent_tool.go
  pkg/tools/double_execution_test.go
Owners: @Ingenimax/go-reviewers

fix(agent): run output guardrails on every complete-response path
  README.md
  docs/guardrails.md
  docs/upgrading.md
  pkg/agent/agent.go
  pkg/agent/run_preamble.go
  pkg/agent/run_preamble_test.go
  pkg/agent/streaming.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

feat(memory): make the vector store readable with WithAutoRecall
  docs/memory.md
  internal/testutil/fakes.go
  pkg/memory/vector_recall_test.go
  pkg/memory/vector_retriever.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

fix(orchestration): replace the DAG scheduler, which deadlocked and double-ran tasks
  pkg/orchestration/code_orchestrator.go
  pkg/orchestration/scheduler_test.go
Owners: @Ingenimax/go-reviewers

feat(vllm): implement native tool calling
  pkg/llm/vllm/client.go
  pkg/llm/vllm/tools_test.go
Owners: @Ingenimax/go-reviewers

feat(orchestration): add named sequential, parallel, loop and graph patterns
  README.md
  docs/multi-agent.md
  pkg/orchestration/patterns.go
  pkg/orchestration/patterns_test.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

feat(run): run identity, a registry, and cancel-by-ID
  pkg/run/run.go
  pkg/run/run_test.go
Owners: @Ingenimax/go-reviewers

feat(session): sessions with scoped state, in-memory and SQL stores
  pkg/session/manager.go
  pkg/session/session.go
  pkg/session/session_test.go
  pkg/session/sql_store.go
Owners: @Ingenimax/go-reviewers

feat(hooks): lifecycle hooks and plugins over the tool decorator seam
  pkg/hooks/builtin.go
  pkg/hooks/hooks.go
  pkg/hooks/hooks_test.go
Owners: @Ingenimax/go-reviewers

feat(skill): SKILL.md capability bundles with progressive disclosure
  pkg/skill/skill.go
  pkg/skill/skill_test.go
  pkg/skill/tools.go
Owners: @Ingenimax/go-reviewers

feat(llm): prompt caching beyond Anthropic -- capability model and usage reporting
  pkg/llm/azureopenai/client.go
  pkg/llm/cachepolicy/cachepolicy.go
  pkg/llm/cachepolicy/cachepolicy_test.go
  pkg/llm/openai/client.go
Owners: @Ingenimax/go-reviewers

feat(orchestration): LLM-driven transfer via a constrained tool call
  pkg/orchestration/transfer.go
  pkg/orchestration/transfer_test.go
Owners: @Ingenimax/go-reviewers

feat(consolidation): idle memory consolidation -- the "auto dream"
  pkg/consolidation/consolidation.go
  pkg/consolidation/consolidation_test.go
  pkg/consolidation/consolidator.go
  pkg/consolidation/scheduler.go
  pkg/consolidation/scope.go
Owners: @Ingenimax/go-reviewers

docs: document sessions, runs, hooks, skills, consolidation, caching and transfer
  README.md
  docs/capabilities.md
Owners: @Ingenimax/docs-team

docs(readme): fold the new capabilities into Features, drop the New section
  README.md
Owners: @Ingenimax/docs-team

docs(readme): remove the Discord community section
  README.md
Owners: @Ingenimax/docs-team

chore(lint): add .golangci.yml and gofmt the tree
  .golangci.yml
  examples/a2a/server/main.go
  examples/graphrag-memory-agent/main.go
  examples/llm/deepseek/agent/main.go
  examples/simple_yaml_agent/main.go
  examples/token-usage/main.go
  pkg/a2a/executor.go
  pkg/a2a/executor_test.go
  pkg/a2a/server.go
  pkg/agent/env.go
  pkg/agent/factory.go
  pkg/agent/llm_factory.go
  pkg/agent/llm_factory_test.go
  pkg/agent/tool_factory.go
  pkg/agentconfig/cache.go
  pkg/executionplan/generator.go
  pkg/llm/deepseek/client_test.go
  pkg/llm/gemini/image_edit_session.go
Owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers

fix: compare errors with errors.Is/errors.As rather than == and type asserts
  pkg/datastore/postgres/postgres.go
  pkg/datastore/supabase/supabase.go
  pkg/graphrag/weaviate/extraction.go
  pkg/graphrag/weaviate/search.go
  pkg/graphrag/weaviate/store.go
  pkg/mcp/errors.go
  pkg/mcp/errors_test.go
  pkg/session/sql_store.go
  pkg/storage/gcs/gcs.go
Owners: @Ingenimax/go-reviewers

fix(memory): archive summarized messages instead of destroying them
  pkg/memory/redis_archive_test.go
  pkg/memory/redis_memory.go
Owners: @Ingenimax/go-reviewers
