Repository Ingenimax/agent-sdk-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ingenimax/maintainers, @Ingenimax/go-reviewers, @Ingenimax/engineering, @Ingenimax/docs-team, @Ingenimax/security-team

fix: handle deferred file closure in multimodal.go
  cmd/agent-cli/multimodal.go
Owners: @Ingenimax/go-reviewers

fix: populate Content field in StreamEventToolResult (#287)
  pkg/llm/openai/streaming.go
Owners: @Ingenimax/go-reviewers

feat: add HTTP MCP test agent and update MCP server configuration
  examples/mcp/http-test-agent/README.md
  examples/mcp/http-test-agent/main.go
  pkg/agent/agent.go
  pkg/mcp/README.md
  pkg/mcp/builder.go
  pkg/mcp/builder_test.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

feat: add prompt caching support for Anthropic Bedrock
  pkg/llm/anthropic/bedrock.go
  pkg/llm/anthropic/client.go
  pkg/llm/anthropic/streaming.go
Owners: @Ingenimax/go-reviewers

feat: thread CacheConfig through Agent layer for prompt caching
  pkg/agent/agent.go
  pkg/agent/config.go
  pkg/agent/streaming.go
Owners: @Ingenimax/go-reviewers

fix: thread CacheConfig through streaming tool-calling path
  pkg/llm/anthropic/streaming.go
Owners: @Ingenimax/go-reviewers

docs: add sandbox container execution design plan
  docs/plans/2026-02-19-sandbox-container-execution-design.md
Owners: @Ingenimax/docs-team

fix: add Execute() to ToolMiddleware so guardrails apply to LLM tool calls
  pkg/guardrails/tool_middleware.go
  pkg/guardrails/tool_middleware_test.go
Owners: @Ingenimax/go-reviewers

fix: address code review feedback for ToolMiddleware
  pkg/guardrails/tool_middleware.go
  pkg/guardrails/tool_middleware_test.go
Owners: @Ingenimax/go-reviewers

feat(sandbox): add config structs and error types
  pkg/sandbox/config.go
  pkg/sandbox/errors.go
Owners: @Ingenimax/go-reviewers

feat(sandbox): add CommandExecutor interface and LocalExecutor
  pkg/sandbox/sandbox.go
  pkg/sandbox/sandbox_test.go
Owners: @Ingenimax/go-reviewers

feat(sandbox): add command allowlist with fail-closed semantics
  pkg/sandbox/allowlist.go
  pkg/sandbox/allowlist_test.go
Owners: @Ingenimax/go-reviewers

feat(sandbox): add warm container pool with round-robin selection
  pkg/sandbox/pool.go
  pkg/sandbox/pool_test.go
Owners: @Ingenimax/go-reviewers

feat(sandbox): add DockerExecutor with container lifecycle management
  pkg/sandbox/docker.go
  pkg/sandbox/docker_test.go
Owners: @Ingenimax/go-reviewers

test(sandbox): add Docker integration tests
  pkg/sandbox/docker_integration_test.go
Owners: @Ingenimax/go-reviewers

feat(mcp): integrate sandbox CommandExecutor into StdioServerConfig
  pkg/mcp/mcp.go
  pkg/mcp/sandbox_integration_test.go
Owners: @Ingenimax/go-reviewers

feat(agent): add WithSandbox option and wire sandbox into MCP configs
  pkg/agent/agent.go
  pkg/agent/mcp_config.go
  pkg/mcp/lazy.go
Owners: @Ingenimax/go-reviewers

docs: add sandbox implementation plan and demo example
  docs/plans/2026-02-19-sandbox-container-execution-plan.md
  examples/sandbox_demo/main.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

feat(a2a): add Google A2A protocol support for cross-framework agent interop
  examples/a2a/client/main.go
  examples/a2a/server/main.go
  go.mod
  go.sum
  pkg/a2a/agent_card.go
  pkg/a2a/agent_card_test.go
  pkg/a2a/client.go
  pkg/a2a/executor.go
  pkg/a2a/executor_test.go
  pkg/a2a/integration_test.go
  pkg/a2a/options.go
  pkg/a2a/server.go
  pkg/a2a/server_test.go
  pkg/a2a/task.go
  pkg/a2a/task_test.go
  pkg/a2a/tool.go
  pkg/a2a/tool_test.go
Owners: @Ingenimax/go-reviewers, @Ingenimax/maintainers

fix(a2a): address P0-P1 issues from code review
  examples/a2a/client/main.go
  examples/a2a/server/main.go
  go.mod
  pkg/a2a/client.go
  pkg/a2a/doc.go
  pkg/a2a/executor.go
  pkg/a2a/executor_test.go
  pkg/a2a/integration_test.go
  pkg/a2a/options.go
  pkg/a2a/server.go
  pkg/a2a/server_test.go
  pkg/a2a/task.go
  pkg/a2a/task_test.go
  pkg/a2a/tool.go
  pkg/a2a/tool_test.go
Owners: @Ingenimax/go-reviewers, @Ingenimax/maintainers

docs(a2a): add feature documentation
  docs/a2a.md
Owners: @Ingenimax/docs-team

fix(a2a): resolve data race on Server.resolvedAddr
  pkg/a2a/server.go
Owners: @Ingenimax/go-reviewers

refactor: apply code formatting and style improvements
  examples/graphrag-memory-agent/main.go
  examples/llm/deepseek/agent/main.go
  examples/simple_yaml_agent/main.go
  pkg/agent/agent.go
  pkg/agent/config.go
  pkg/agent/env.go
  pkg/agent/factory.go
  pkg/agent/llm_factory.go
  pkg/agent/llm_factory_test.go
  pkg/agent/tool_factory.go
  pkg/agentconfig/api.go
  pkg/agentconfig/cache.go
  pkg/agentconfig/examples.go
  pkg/agentconfig/merge_test.go
  pkg/agentconfig/models.go
  pkg/executionplan/generator.go
  pkg/llm/deepseek/client.go
  pkg/llm/deepseek/client_test.go
  pkg/llm/gemini/client.go
  pkg/llm/gemini/image_edit_session.go
  pkg/llm/gemini/types.go
  pkg/mcp/lazy.go
  pkg/memory/factory.go
  pkg/orchestration/handoff.go
  pkg/orchestration/llm_orchestrator.go
  pkg/prompts/template.go
  pkg/tools/websearch/websearch.go
Owners: @Ingenimax/go-reviewers

fix: add missing Items handling in streaming tool declarations
  pkg/llm/gemini/streaming.go
Owners: @Ingenimax/go-reviewers

docs(a2a): add feature documentation
  docs/a2a.md
Owners: @Ingenimax/docs-team

feat(a2a): add multi-agent content team example
  examples/a2a/content_team/README.md
  examples/a2a/content_team/copywriter/main.go
  examples/a2a/content_team/hashtag/main.go
  examples/a2a/content_team/orchestrator/main.go
  examples/a2a/content_team/reviewer/main.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

fix(a2a): address P0-P1 issues from code review
  examples/a2a/client/main.go
  examples/a2a/server/main.go
  go.mod
  pkg/a2a/client.go
  pkg/a2a/doc.go
  pkg/a2a/executor.go
  pkg/a2a/executor_test.go
  pkg/a2a/integration_test.go
  pkg/a2a/options.go
  pkg/a2a/server.go
  pkg/a2a/server_test.go
  pkg/a2a/task.go
  pkg/a2a/task_test.go
  pkg/a2a/tool.go
  pkg/a2a/tool_test.go
Owners: @Ingenimax/go-reviewers, @Ingenimax/maintainers

feat(a2a): add Google A2A protocol support for cross-framework agent interop
  examples/a2a/client/main.go
  examples/a2a/server/main.go
  go.mod
  go.sum
  pkg/a2a/agent_card.go
  pkg/a2a/agent_card_test.go
  pkg/a2a/client.go
  pkg/a2a/executor.go
  pkg/a2a/executor_test.go
  pkg/a2a/integration_test.go
  pkg/a2a/options.go
  pkg/a2a/server.go
  pkg/a2a/server_test.go
  pkg/a2a/task.go
  pkg/a2a/task_test.go
  pkg/a2a/tool.go
  pkg/a2a/tool_test.go
Owners: @Ingenimax/go-reviewers, @Ingenimax/maintainers

fix(a2a): resolve data race on Server.resolvedAddr
  pkg/a2a/server.go
Owners: @Ingenimax/go-reviewers

fix(a2a): address security and correctness issues from code review
  pkg/a2a/executor.go
  pkg/a2a/executor_test.go
  pkg/a2a/server.go
  pkg/a2a/tool.go
  pkg/a2a/tool_test.go
Owners: @Ingenimax/go-reviewers

fix(a2a): address P2 design and robustness issues
  pkg/a2a/agent_card.go
  pkg/a2a/agent_card_test.go
  pkg/a2a/executor.go
  pkg/a2a/executor_test.go
  pkg/a2a/server.go
  pkg/a2a/server_test.go
  pkg/a2a/tool.go
  pkg/a2a/tool_test.go
Owners: @Ingenimax/go-reviewers

refactor(a2a): address P3 quality improvements
  docs/a2a.md
  examples/a2a/server/main.go
  pkg/a2a/client.go
  pkg/a2a/executor_test.go
  pkg/a2a/integration_test.go
  pkg/a2a/options.go
  pkg/a2a/server.go
  pkg/a2a/server_test.go
Owners: @Ingenimax/docs-team, @Ingenimax/go-reviewers

fix: resolve golangci-lint errcheck and staticcheck findings
  examples/a2a/client/main.go
  examples/a2a/server/main.go
  pkg/a2a/integration_test.go
  pkg/a2a/server_test.go
  pkg/tools/websearch/websearch.go
Owners: @Ingenimax/go-reviewers

fix: resolve staticcheck QF1012 in executionplan package
  pkg/executionplan/executionplan.go
Owners: @Ingenimax/go-reviewers

revert: undo lint fixes in websearch and executionplan
  pkg/executionplan/executionplan.go
  pkg/tools/websearch/websearch.go
Owners: @Ingenimax/go-reviewers

fix: resolve staticcheck QF1012 and gosec findings
  cmd/agent-cli/main.go
  examples/datastore/postgres/main.go
  examples/datastore/supabase/main.go
  examples/gcs_storage_yaml_test/main.go
  examples/llm/gemini/main.go
  examples/multi_turn_editing_yaml_test/main.go
  pkg/agent/context.go
  pkg/agent/llm_factory.go
  pkg/context/context.go
  pkg/grpc/client/remote_agent.go
  pkg/microservice/ui_server.go
  pkg/prompts/template.go
  pkg/task/service/memory.go
Owners: @Ingenimax/go-reviewers

fix: resolve staticcheck QF1012 in websearch package
  pkg/tools/websearch/websearch.go
Owners: @Ingenimax/go-reviewers

fix: move nosec G304 comment to flagged line in llm_factory.go
  pkg/agent/llm_factory.go
Owners: @Ingenimax/go-reviewers

fix: resolve staticcheck QF1012 in huggingface package
  pkg/tools/huggingface/huggingface.go
Owners: @Ingenimax/go-reviewers

fix: adjust nosec G304 comment format in llm_factory.go
  pkg/agent/llm_factory.go
Owners: @Ingenimax/go-reviewers

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
*       @Ingenimax/maintainers

# Go source files
*.go    @Ingenimax/go-reviewers

# CI/CD and GitHub Actions
.github/workflows/    @Ingenimax/engineering

# Documentation
/docs/               @Ingenimax/docs-team
*.md                 @Ingenimax/docs-team

# Security-related files
SECURITY.md          @Ingenimax/security-team
